[2017-05-23 20:08] adamstrawson commented on #398
@divyenpatel Any thoughts on this? Just want to make sure I order the correct license.

[2017-05-23 20:14] divyenpatel commented on #398
Let me forward the question to @msterin, @pdhamdhere

[2017-05-24 13:22] divyenpatel commented on #398
@adamstrawson Kubernetes should work on both edition.

VMware vCenter Server Foundation is for smaller environments and supports only 3  vsphere hosts.

please refer http://www.vmware.com/content/dam/digitalmarketing/vmware/en/pdf/whitepaper/vmware-vsphere_pricing-white-paper.pdf

know about key features and capabilities of each edition - http://store.vmware.com/store/vmware/en_US/cat/ThemeID.2485

[2017-05-24 13:47] adamstrawson commented on #398
Thanks @divyenpatel, appreciate the response.

I was looking at Foundation, but just wanted to make sure that version would work fine before purchasing.

[2017-05-24 13:47] #398 closed

[2017-05-24 23:46] pathcl opened #399 "etcd flanneld networking"
Hello,

I've followed 'Get started on vSphere' though Im stucked at 'make deploy'.

On master node I can see there's an issue regarding etcd on master node

May 24 23:42:32 node4 flanneld[358]: E0524 23:42:32.316102 00358 network.go:53] Failed to retrieve network config: client: etcd cluster is unavailable or misconfiguredMay 24 23:42:38 node4 flanneld[358]: E0524 23:42:38.316090 00358 network.go:

[2017-05-25 04:28] ozdanborne opened #400 "default kuberenetes version (v1.5.3) incompatible with default kubeadm channel"
When setting `provider=kubeadm`, the install script defaults to the stable kubeadm channel with Kubernetes v1.5.3. This is an invalid combination, as kubeadm stable channel only supports Kubernetes v1.6.x. The script will continue, no kubernetes services will come up, and the script will just forever wait for them to come up: `Validation: Expected 3 healthy nodes; found 0. (140s elapsed)`

From th

[2017-05-25 14:01] pathcl commented on #399
Nevermind. I figured it out :)

[2017-05-25 14:01] #399 closed

[2017-05-30 17:08] da1ight commented on #356
@divyenpatel
Yes, we use original version of `docker.io/cnastorage/k8s-ignition:v1` and `KubernetesAnywhereTemplatePhotonOS.ova`
Trying to change version to 1.5.7
`root@node1 [ ~ ]# docker ps
CONTAINER ID        IMAGE                                             COMMAND                  CREATED             STATUS              PORTS               NAMES
a489805903ac        gcr.io/google-containers/hy

[2017-05-30 21:26] divyenpatel commented on #356
I do not see any issue with `--cloud-provider=vsphere` flag
Can you please share content of - `/etc/systemd/system/kubelet.service` and `/etc/kubernetes/vsphere.conf`

[code]

[code]

Can you also share content of /etc/kubernetes/vsphere.conf

[code]

[2017-05-31 12:37] da1ight commented on #356
Thanks for quick response.
Just for now I use temporary fix, remove `--cloud-provider=vsphere` and stick with the recommended version 1.5.3
[code]

[2017-05-31 12:38] da1ight commented on #356
Thanks for quick response.
Just for now I use temporary fix, remove `--cloud-provider=vsphere` and stick with the recommended version 1.5.3
[code]

[2017-05-31 20:21] jarduini opened #402 "Error on make docker-dev command"
I´m having an erro when trying to execute make docker-dev command:

[root@lxl1pupkb001 kubernetes-anywhere-0.1.0]# make docker-dev
docker build -t kubernetes-anywhere:v0.0.1 .
Sending build context to Docker daemon 220.7 kB
Step 1 : FROM mhart/alpine-node:6.4.0
 ---> ecd37ad77c2b
Step 2 : RUN apk add --update bash
 ---> Running in 7884e8249a70
fetch http://dl-cdn.alpinelinux.org/alpine/v3.4/main/x

[2017-06-01 17:37] divyenpatel commented on #356
I have just deployed 1.5.7 without any work around.

@da1ight
Can you please collect kubelet.service log and post it here?

root@master [ ~ ]# journalctl -u kubelet.service > kubelet.service.log

[2017-06-01 19:24] vinayaugustine commented on #402
The fetch is happening within the running container. I modified the docker-build target in Makefile like so:

    docker-build:
            docker build -t $(IMAGE_NAME):$(IMAGE_VERSION) --build-arg http_proxy="MYPROXY" --build-arg https_proxy="MYPROXY" .

(via [How to build Docker Images with Dockerfile behind HTTP_PROXY by Jenkins?](https://stackoverflow.com/a/31987595/6171))

[2017-06-04 17:54] g1001p opened #403 "vSphere deployment build failed"
Dear forum,
I am trying to deploy kubernetes cluster on vsphere.
Actually the target compilation failed with the following error.
I appreciate for any recommendation to handle this issue:
make[1]: Entering directory '/opt/kubernetes-anywhere'
( cd "phase1/$(jq -r '.phase1.cloud_provider' .config.json)"; ./do deploy-cluster )
.tmp/vSphere-k8s.test.tf
Error configuring: 33 error(s) occurred:

* data

[2017-06-05 18:57] cmluciano commented on #218
Can this issue be closed?

[2017-06-06 03:37] #218 closed

[2017-06-06 06:26] cheld commented on #218
Thanks for closing

[2017-06-07 12:45] jarduini commented on #402
hi @vinayaugustine, thank you for you answer.
I solved it configuring proxy inside the containers.

vi Dockerfile
##########################################
#FROM alpine
FROM mhart/alpine-node:6.4.0
ENV http_proxy http://172.18.0.240:40080
ENV https_proxy https://172.18.0.240:40080

RUN apk add --update bash
ADD ./util/docker-build.sh /opt/
RUN /opt/docker-build.sh

WORKDIR /opt/kubernetes-anywher

[2017-06-07 12:46] #402 closed

[2017-06-07 16:58] divyenpatel commented on #403
@g1001p

Can you please share - /opt/kubernetes-anywhere/.config file?

cc: @tusharnt @BaluDontu

[2017-06-07 23:53] SamD commented on #380
@billhoph thanks this resolved the problem. People that are familiar with ovftool can also use that as an alternative to govc

[2017-06-12 19:16] da1ight commented on #356
It's our internal problem, we found and fix the issue.
Thanks to @divyenpatel

[2017-06-12 19:18] divyenpatel commented on #356
@da1ight @varsy  Can you close this issue?

[2017-06-12 19:21] da1ight commented on #356
Yes of course. It's official holiday for us today. I believe that @varsy do it tomorrow.

[2017-06-12 21:35] BaluDontu commented on #300
If you pass the full template Path, you can deploy a kubernetes cluster successfully even though the template is not in the current cluster.

[2017-06-12 21:35] #300 closed

[2017-06-13 08:29] varsy commented on #356
Thank you for your efforts!

[2017-06-13 08:29] #356 closed

[2017-06-14 17:02] divyenpatel commented on #403
@g1001p Can you close this issue?
Looks like you are able to deploy the cluster. https://github.com/kubernetes/kubernetes.github.io/issues/3984#event-1120890053

[2017-06-14 17:08] divyenpatel commented on #378
@robotica72

Not sure if you are using vSphere Cloud provider.

You can deploy following recent releases using new ignition image - cnastorage/k8s-ignition:v2

https://github.com/kubernetes/kubernetes/releases/tag/v1.7.0-beta.1
https://github.com/kubernetes/kubernetes/releases/tag/v1.7.0-beta.0
https://github.com/kubernetes/kubernetes/releases/tag/v1.8.0-alpha.0

Once new 1.6 release is available

[2017-06-14 17:36] BaluDontu commented on #378
Its 1.7 release not 1.6 release.

[2017-06-14 18:27] g1001p commented on #403
i checked and see status of this issue closed day ago.
Thank you for great help.

On Wed, Jun 14, 2017 at 8:02 PM, divyenpatel <notifications@github.com>
wrote:

[2017-06-14 18:39] divyenpatel commented on #403
I mean to close https://github.com/kubernetes/kubernetes-anywhere/issues/403

[2017-06-15 22:17] TreverW commented on #313
I don't know if this helps but I was able to get further by adding lines in the Dockerfile at the kubernetes-where root and in the phase2/ignition/Dockerfile

[code]

I also tried to edit phase2/ignition/vanilla/kubelet.service to add proxy to the environment there.

[code]

But I'm still running into problems

[2017-06-17 04:19] robotica72 commented on #378
Nice - thanks guys, 1.7 Beta 1 looks like it may be a good test....

[2017-06-19 20:16] cmluciano opened #408 "Support Openstack in phase 1"
I use Openstack for development and it would be great it Openstack would be a supported cloud provider. I am interested in contributing this functionality if others are interested.

[2017-06-19 20:16] cmluciano commented on #408
/assign

[2017-06-19 20:16] cmluciano commented on #408
/sig openstack

[2017-06-21 16:58] TreverW opened #409 "vsphere deployment fails (RUNTIME ERROR: Field does not exist: cluster)"
After running `make docker-dev` and `make config` specifying vSphere options, then running `make deploy`, I'm getting this error.

    [container]:/opt/kubernetes-anywhere> make deploy
    util/config_to_json .config > .config.json
    make do WHAT=deploy-cluster
    make[1]: Entering directory '/opt/kubernetes-anywhere'
    ( cd "phase1/$(jq -r '.phase1.cloud_provider' .config.json)"; ./do deploy

[2017-06-23 05:42] divyenpatel commented on #409
@TreverW

Can you please try this image?

[code]

We had some issue in the cnastorage/kubernetes-anywhere:latest image we published two days before. Made a fix today.

For following option, you need to enter "host", if you want to deploy cluster on one single host. else enter "cluster".
in the next question, you will be asked to enter name of host or name of the cluster based on the option you hav

[2017-06-23 05:46] divyenpatel commented on #403
@g1001p, just in case you still have compilation issue.
We have published pre-build image at `cnastorage/kubernetes-anywhere`

`docker pull cnastorage/kubernetes-anywhere`

`docker run -it --rm --env="PS1=[container]:\w> " --net=host cnastorage/kubernetes-anywhere:latest /bin/bash`

Please Refer updated Getting Started Guide at - https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1

[2017-06-23 15:36] TreverW commented on #409
Thank you.  It sounds like I misunderstood the prompt and entered the **name** of my host instead of ‘host’.

It now works with your instructions.

[2017-06-23 15:36] #409 closed

[2017-06-25 22:19] hoffin opened #410 "Azure failing to bring up nodes with Kubernetes version 1.6+"
In Azure nodes aren't coming up as the kubelet service on the client nodes are using the `--reconcile-cidr` flag in `/etc/systemd/system/kubelet.service`. That flag has been removed since 1.6 and fails to start if it's there.

I've not had time to fix this but I from initial investigation this systemd file seems to being written
`/phase2/ignition/vanilla/node.jsonnet`

Basicly it should not set `-

[2017-07-04 04:26] psyolent opened #411 "K8s -vSphere : failing to complete null_resource.master:"
Hi

Stuck with deploying kubernetes-anywhere @ work.
Ironically the same deployment in my lab @ home works fine :)

My VMs deploy, master, nodes1,2,3,4. all good. dhcp works. all get IPd
Script connects to nodes and master creates symlink etc on all 5 nodes - good
I get for nodes 1,2,3,4 msgs eg: null_resource.node2: Creation complete (ID: 4710064365696826687)
But i dont' get one for master.
The i

[2017-07-04 06:06] psyolent commented on #411
ok getting a bit further now ...
my DHCP scope option had no default gateway nor DNS servers.

null_resource.node5 (remote-exec): Error response from daemon: Get https://gcr.io/v1/_ping: dial tcp: lookup gcr.io on [2001:4860:4860::8888]:53: dial udp [2001:4860:4860::8888]:53: connect: network is unreachable
null_resource.node5 (remote-exec): Failed to docker pull hyperkube
null_resource.node5: Cre

[2017-07-04 07:42] psyolent commented on #411
now got away from ipv6 ...
null_resource.node3 (remote-exec): Error response from daemon: Get https://gcr.io/v1/_ping: dial tcp 74.125.204.82:443: i/o timeout
null_resource.node3 (remote-exec): Failed to docker pull hyperkube
null_resource.node3: Creation complete (ID: 5974998759969561566)

[2017-07-04 08:49] psyolent commented on #411
no further action required here.
yep. i'm being burned by a proxy here. for anyone who does this behind any form of proxy on the proviso the sites you need are whitelisted / allowed thru ; you need within your docker container and export of the proxy URL. i'm using CNTLM to provide a proxy local service so export HTTP_PROXY=http://127.0.0.1:3128 and export HTTPS_PROXY=http://127.0.0.1:3128 worked

[2017-07-04 08:49] #411 closed

[2017-07-17 19:55] pathcl opened #413 "No documentation for minions/node to join master"
Can't find any docs at all. I guess this should be done editing 'deploy.tf'

[2017-07-17 23:14] Cipher333 opened #414 "DNS issues on all nodes with vSphere deployment"
Hi all

I have provisioned a new Kubernetes cluster using "kubernetes-anywhere" and "make deploy" into a temporary lab environment (via vCenter Server Appliance 6.5) but I am contiunally running into DNS issues which is preventing me from progressing any further with the build - the errors are following the completion of the "make deploy" process:

`kubectl get pods --namespace=kube-system --outpu

[2017-07-19 20:24] jck-ccl opened #415 "Kubelet fails to start when generated vsphere.conf contains improperly escaped characters"
When using the latest cnastorage/kubernetes-anywhere image
And deploying to vSphere
If the vCenter username and password contain characters that require escaping, for example backslash or double quote
Then the generated vSphere.conf file does not have these values properly escaped and the kubelet will not start.
The following error can be seen in 'journalctl -u kubelet'

[code]

Example snippet fr

[2017-07-25 07:20] pos-ei-don commented on #370
Same here. did you find a solution?

[2017-07-26 13:29] ReSearchITEng commented on #338
I am still facing the same issue, when port is 9443 and not 443.

I am using:
kubeadm 1.7.0 (init --config file.cfg)
kubelet/kubectl 1.7.1
kubernetes 1.7.2
cloud provider: vsphere

entire kubeadm init gets blocked.

journalctl -f -u kubelet  shows:
[code]

[2017-07-26 21:48] divyenpatel opened #417 "unable to deploy cluster when vc port and non-default"
[code]

#
[code]

cc: @BaluDontu @luomiao @tusharnt

[2017-07-28 20:49] brettdh opened #418 "Configure one host, no resource pool?"
Is it possible to configure a single-host server with no resource pool? I have a host, not a cluster, on my vSphere, and no resource pool, and [no ability to create one](https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=1004098). (I cannot change the config on the VM host.) If I say "no" to `phase1.vSphere.useresourcepool`, it tries to use one with the

[2017-08-01 14:50] brettdh commented on #418
D'oh. I left off the host's enclosing folder. Adding that prefix (i.e. specifying `my folder/foo.example.com` as the host) resolved the issue.

[2017-08-01 14:50] #418 closed

[2017-08-01 14:53] brettdh commented on #359
@maintainers: It would be great if `make deploy` could detect the DHCP failure and give a more informative message. This error is quite misleading / obfuscated.

[2017-08-03 13:58] dayglo opened #419 "vmware esxi 5.5 - ova hardware version"
Hi,

We'd like to use k-a on esxi 5.5 which only supports hardware version 10.

Is there any reason you build your OVA template using vmware hardware version 11?

Do you build the OVA with packer or similar? If so please could you share the source?

[2017-08-03 20:22] divyenpatel commented on #419
@dayglo We can provide you steps to convert OVA file to support hardware version 10 using vCenter Converter.

VMware Issue: https://github.com/vmware/kubernetes/issues/128

[2017-08-04 16:57] dayglo commented on #313
@TreverW did you get this working? Im at about the same spot as you...

[2017-08-04 16:58] TreverW commented on #313
I have not.  I basically gave up for now.

From: George Cairns [mailto:notifications@github.com]
Sent: Friday, August 04, 2017 9:57 AM
To: kubernetes/kubernetes-anywhere <kubernetes-anywhere@noreply.github.com>
Cc: Wilhelm, Trever (GSB DevOps) <trever.wilhelm@hp.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/kubernetes-anywhere] No option to set http_proxy for nodes, network t

[2017-08-04 22:37] divyenpatel commented on #419
@dayglo Please use this image vmx-10 image on esx5.5 - https://storage.googleapis.com/kubernetes-anywhere-for-vsphere-cna-storage/KubernetesAnywhereTemplatePhotonOSESX5.5.ova

[2017-08-09 21:46] vmtocloud commented on #367
I had this same problem and finally used foldername/switchname in the config and it worked. Even though in vCenter it is listed as foldername/vdsname/switch.

[2017-08-09 22:50] vmtocloud commented on #359
Same problem here. Ran out of DHCP addresses.

[2017-08-09 22:51] vmtocloud opened #421 "Add and Remove nodes?"
I can't figure out how to add or remove nodes from the cluster. I tried changing make config node count but it just redeploys the whole cluster again and I lose all my pods. Is this supported or feature request?

[2017-08-10 00:06] divyenpatel commented on #419
@dayglo just following up regarding new image I shared above.
Can you please close this issue, if you are able to deploy cluster using this image.

[2017-08-10 00:13] divyenpatel opened #422 "Allow cluster to be deployed on specific VM Folder on vCenter"
Currently Kubernetes-Anywhere asks user to specify the name of the cluster and then uses this name to create vm folder on the root. Node VMs are then placed on this folder.

Customer requested to prompt menu option to specify VM folder path where cluster needs to be deployed.

@tusharnt

[2017-08-10 20:02] vmtocloud commented on #295
Also second this request, ability to be able to set the name prefix in the make config portion would be ideal!

[2017-08-11 00:40] psyolent commented on #419
Thanks for sharing that link

[2017-08-11 12:09] psyolent opened #424 "Validation: Expected 5 healthy nodes; found 0. (660s elapsed)"
hey

so getting thru deploying this in a secured work environment with VCSA 6.5.1, and vSphere in 5.5u3, using vDS in this particular instance.

i get the cluster and nodes deployed but get to a point where it goes to discover nodes and master ; and ; never finds a thing, not a master, not a node, zilcho, all i get is an infinite supply of Validation: Expected 5 healthy nodes; found 0. (xxxxxxxs e

[2017-08-11 12:24] psyolent commented on #424
note, i can get on the master, and, ping everything just fine - no issues - via normal net OR via flannel - so i know connectivity is there and a happening thing.

of note i can deploy the same in my lab in the exact same way with no issue whatsoever.

[2017-08-11 17:01] divyenpatel commented on #424
@psyolent we can help.
Can you login to the master node and see api server is running?

[code]

Can you grab API server logs and attach to this issue?

Log location should be
`cd /var/lib/docker/containers/601f654723ce*`
here 601f654723ce is the container id of API server.

One more thing to check is kubeconfig.json file in your kubernetes-anywhere container.

Can you ping the Server IP address me

[2017-08-12 04:11] psyolent commented on #424
hey, very appreciated.
no its not running on the master mate.  ; ie: the PS just returns empty - so that could be something of a problem :)

now for the logs.
in the log location ie: /var/lib/docker/containers/ , theres a mass of directories for different things.
the log file in each of them ends with {"log":"Error: failed to run Kubelet: could not init cloud provider \"vsphere\": 2:25: unknown es

[2017-08-12 04:32] divyenpatel commented on #424
@psyolent
Problem could be in the vsphere.conf file. Look at  `/etc/kubernetes/vsphere.conf`
We need to escape special characters in vsphere.conf file.

Recently @jck-ccl has fixed the issue - https://github.com/kubernetes/kubernetes-anywhere/pull/416

If you are using `cnastorage/kubernetes-anywhere:latest` image to deploy kubernetes cluster then we need to include this change in the image.

Mean

[2017-08-12 06:01] psyolent commented on #424
excellent. that build went thru successfully. thanks divyen!
now to deal with this 'unauthorized' issue when i go to the Kubernetes Master.

cheers, Greg

[2017-08-12 06:46] psyolent opened #426 "kubernetes-dashboard - 'Unauthorized'"
hey

next issue. trying to get to the dashboard for kubernetes i've deployed, i just get 'unauthorized'
i thought it might have been SSL non trusted cert related ; but no
so 192.168.0.33 is the IP of my master ; i have 4 nodes.

`[root@docau023adh00 ~]# curl --insecure  https://192.168.0.33
Unauthorized
`
`
[root@docau023adh00 ~]# kubectl logs kubernetes-dashboard-2315583659-5pzzv --namespace=kube

[2017-08-12 08:02] psyolent commented on #426
[root@docau023adh00 ~]# curl --insecure -v https://192.168.0.33
* About to connect() to 192.168.0.33 port 443 (#0)
*   Trying 192.168.0.33...
* Connected to 192.168.0.33 (192.168.0.33) port 443 (#0)
* Initializing NSS with certpath: sql:/etc/pki/nssdb
* skipping SSL peer certificate verification
* NSS: client certificate not found (nickname not specified)
* SSL connection using TLS_ECDHE_RSA_WITH_

[2017-08-12 23:26] #422 closed

[2017-08-14 11:07] psyolent commented on #426
with the help of a fellow at work ; we sorted this today. you can't access the dashboard directly from the master. what you can do is proxy it.

so ; where you have exported kubeconfig ;

kubectl proxy --address=<yourIPgoeshere> —port 443 --accept-hosts='.*' --accept-paths='.*' &

then hit the dashboard on http://yourIPgoeshere:443/ui

worked for me AOK.

[2017-08-14 15:36] faxioman commented on #370
same here

[2017-08-14 16:13] faxioman commented on #376
same here with name [ISCSI VOL 1]

[2017-08-14 17:33] luxas commented on #366
ping @colemickens
Do you know if anyone uses the Azure thing anymore or if we can remove it by now?
cc @pipejakob

[2017-08-14 17:44] divyenpatel commented on #424
@psyolent you can close this issue and open a new issue for 'unauthorized' error on the master node with more detail.

[2017-08-14 17:45] divyenpatel commented on #415
@jck-ccl PR is merged. You can close this issue.

[2017-08-14 17:47] divyenpatel commented on #419
@dayglo provided links works fine for @psyolent on ESX 5.5
Can you close this issue?

[2017-08-15 08:52] #415 closed

[2017-08-15 22:16] avirat28 opened #430 "Cannot complete login due to an incorrect user name or password."
Hi,

I am attempting to deploy a K8 cluster using kubernetes-anywhere however not able to
connect to vCenter due to wrong user/pass. I am using the same user/pass that I use to
login directly to vCenter thru web. What am I missing?

docker run -it --rm --env="PS1=[container]:\w> " --net=host cnastorage/kubernetes-anywhere:latest /bin/bash
[container]:/opt/kubernetes-anywhere> make deploy
make conf

[2017-08-19 00:13] jessicaochen opened #431 "Cluster Upgrade"
Since k8s anywhere already covers lifecycle events of deploy and destroy clusters, how about adding a make command of upgrade-cluster that can upgrade clusters? I am probing community interest (and/or objections).

I am specifically interested in getting this working for kubeadm/gce and am working on prototypes/designs. I do plan on a design that should be generic enough to work easily with other

[2017-08-20 17:14] danhawkes commented on #276
@colemickens Hi, sorry for going silent on this. Ended up testing Deis on some other cloud and forgot all about it.
Anyway, I'm afraid I've long since lost the details on this so will close this issue. Thanks for your time anyway.

[2017-08-20 17:14] #276 closed

[2017-08-21 22:37] avirat28 commented on #430
I am able to create cluster using Photon OS directly (it has issues but atleast the same login works).
Any ideas why its not working from kubernetes-anywhere ? Attaching screenshot of the error on vCenter.

<img width="899" alt="screen shot 2017-08-21 at 3 37 07 pm" src="https://user-images.githubusercontent.com/24486143/29541063-9f9a7abe-8686-11e7-8f69-9dab00217fff.png">

[2017-08-22 11:40] shashidharatd commented on #408
@cmluciano, any progress on this? I have a simple implementation that works and would like to collaborate if you already have done some implementation.

[2017-08-22 11:43] shashidharatd commented on #366
+1 for removal. Already its broken. its just an overhead for refactoring the whole project to support kubeadm based deployment and also to deprecate ignition phase2 provider.

[2017-08-22 11:48] cmluciano commented on #408
I have not done much yet. Please feel free to submit your patch and I can tack on.

[2017-08-22 18:41] prateekgogia opened #433 "Steps for Getting started on GCE unclear"
In the [getting started guide](https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/gce/README.md) for GCE, it mentions the following -

I was able to reach to the point, where it takes you to the dev shell. However, in the next step it is not clear _`If kubeadm is the phase2.provider`_ or something else and there is no way to check which provider is it. If I skip this step, it err

[2017-08-22 19:01] prateekgogia commented on #433
`make deploy` also fails for GCE, I think this is a separate issue.

[2017-08-22 19:04] prateekgogia opened #434 "make deploy fails for GCE"
Trying to create a new cluster on GCE, when running make deploy. It fails with the following error-
[code]

[2017-08-23 16:50] pipejakob commented on #434
Can you post the contents of your `.config` file?

[2017-08-23 17:27] prateekgogia commented on #434
cat .config
[code]

[2017-08-24 16:31] avirat28 commented on #430
Issue is fixed.
If it helps others issue was with $ char in the password.
Resolution is to escape the $ char with another $.
e.g. if the password is pa$$word then use pa$$$$word instead.

[2017-08-24 16:31] #430 closed

[2017-08-25 13:05] luxas commented on #431
cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-08-25 13:05] luxas commented on #431
@jessicaochen Please go ahead and do that, SGTM :+1:
cc @mikedanese

[2017-08-29 01:20] pipejakob commented on #434
CC @shashidharatd. It looks like recent refactoring of `gce.jsonnet` broke this for ignition. The commit before still works ([a34eafb4a26a9d295133964d704c5c004727b4b9](https://github.com/kubernetes/kubernetes-anywhere/commit/a34eafb4a26a9d295133964d704c5c004727b4b9)), but the next merge that refactored the file shows these problems ([7f95b7c5b42dfaaa87da80ac885494f7646e1f3e](https://github.com/kub

[2017-08-29 21:23] #434 closed

[2017-08-29 21:25] pipejakob commented on #434
Hey @prateekgogia, I believe this is fixed at HEAD by https://github.com/kubernetes/kubernetes-anywhere/pull/441. If you fetch/merge from upstream and still have this problem, please reopen the issue.

[2017-08-31 15:55] marrik96 opened #443 "k8s master on vsphere storage usage"
Master node continues to use up all drive space.  Is it logs?  what can I delete?

I've had to expand the VMDK and partition on master to get it back and operational due to 0% drive space left.

[2017-08-31 22:47] marrik96 commented on #443
So after expanding my master to 24 GB from default install (I think it was ~15GB) and a full reboot of master plus all 5 nodes the drive space usage has gone way down.  A df -h shows 12% in use.  I'm not sure how this happened since I did not clear logs or make any changes?

root@master [ ~ ]# df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/root        24G  2.5G   20G  12% /
devtmpfs

[2017-08-31 23:56] #375 closed

[2017-09-05 17:00] roberthbailey commented on #431
+1

[2017-09-05 22:06] colemickens commented on #366
I'm not aware of anyone using this. The only users I was aware of have transitioned to other bring-up methods.

+1 on removing it, +10 if it's broken

cc: @brendandburns / @ahowe as an FYI, though I don't anyone at Azure is going to care given their focus on [ACS-Engine](https://github.com/Azure/ACS-Engine)

(Side note, I've worked heavily with 4 bring-up methods and made a couple small feature ad

[2017-09-05 22:12] brendandburns commented on #366
Fine with me to delete.

________________________________
From: Cole Mickens <notifications@github.com>
Sent: Tuesday, September 5, 2017 3:06 PM
To: kubernetes/kubernetes-anywhere
Cc: Brendan Burns; Mention
Subject: Re: [kubernetes/kubernetes-anywhere] Deprecate azure support? (#366)

I'm not aware of anyone using this. The only users I was aware of have transitioned to other bring-up methods.

+1

[2017-09-06 09:09] aaron-comyn commented on #312
Same issue here, having little luck getting past it.

We are installing on a single host and using self-signed certificates (ie insecure mode).

tls_cert_request.kubernetes-master: Creating...
  cert_request_pem:       "" => "<computed>"
  dns_names.#:            "" => "6"
  dns_names.0:            "" => "kubernetes-master"
  dns_names.1:            "" => "kubernetes"
  dns_names.2:            ""

[2017-09-06 21:12] jessicaochen commented on #431
Upgrade Cluster Approach Proposal: https://docs.google.com/a/google.com/document/d/1PoDeqD8qu1KbAd-fb7xOVB1G7YTyD6VLLlhaVB3QeA4/edit?usp=sharing

[2017-09-11 20:42] marrik96 commented on #431
+1 on upgrade

[2017-09-12 18:35] serjo77 commented on #433
Authenticating with Google Cloud services requires a JSON file which we call the account file.
This file is downloaded directly from the Google Developers Console. To make the process more straightforwarded, it is documented here:

Log into the Google Developers Console and select a project.

The API Manager view should be selected, click on "Credentials" on the left, then "Create credentials", an

[2017-09-13 07:54] scundall opened #448 "sphere_virtual_machine.kubevm1: 1 error(s) occurred: vsphere_virtual_machine.kubevm3: unexpected EOF while creating VMs"
5 error(s) occurred:

* vsphere_virtual_machine.kubevm3: 1 error(s) occurred:

* vsphere_virtual_machine.kubevm3: unexpected EOF
* vsphere_virtual_machine.kubevm2: 1 error(s) occurred:

* vsphere_virtual_machine.kubevm2: unexpected EOF
* vsphere_virtual_machine.kubevm5: 1 error(s) occurred:

* vsphere_virtual_machine.kubevm5: unexpected EOF
* vsphere_virtual_machine.kubevm1: 1 error(s) occurred:

[2017-09-13 10:34] scundall commented on #448
vsphere 6.5

[2017-09-18 06:27] scundall commented on #448
Maybe the interesting tip about this situation could be that we ended up getting same error while installing it using 2 users on 2 different operation systems Windows & MacOS (Sierra)

[2017-09-21 18:02] jessicaochen opened #453 "Consistently mktemp to create temporary directories"
Use mktemp -d /tmp/k8s-debsXXXXXX) consistently when creating temp dirs in order to not have conflicts (which would be a mess to debug).

Known locations to fix:
/phase1/gce/configure-vm-kubeadm.sh
/phase2/kubeadm/do

[2017-09-22 06:20] gogeof commented on #136
not just MacOS, I face this problem with Centos 7.3.

[2017-09-22 16:27] nthaler-mit opened #454 "null_resource.$cluster-master: 1 error(s) occurred"
I'm attempting to deploy a kubernetes cluster against a test vSphere 6.5 U1 endpoint, but fail each time with a null_resource message against the master (potentially during the phase1 cluster deploy phase)

Nothing in the environment appears too usual: hypervisors in sync using strata 1 ntp time sources, shared iSCSI datastore, dvPortgroup backed by a DHCP server, cluster has sufficient resources.

[2017-09-26 21:21] jessicaochen opened #456 "/etc/kubeadm/kubeadm_init_params.txt Not Populated"
Due to accidental reuse of variable KUBEADM_DIR

[2017-09-27 10:21] luxas commented on #456
Can you send a fix for this please?

[2017-09-27 19:57] #456 closed

[2017-09-29 18:07] SergeySevruk opened #458 "How to setup second master ?"
Could you explain how to setup second master ?

[2017-10-03 16:56] divyenpatel commented on #454
I see node VMs are getting private addresses - `192.168.1.23`, your deployment container should be able to connect to these VMs in this private network.

I think you need to put your docker host in the same network – `dvInternal`, and should try deploying from there.

[2017-10-04 11:38] orf opened #459 "Document how to add custom CA certificates to the vSphere template"
We run our internal docker registry using a custom CA certificate. There doesn't seem to be an easy way to add a custom CA certificate into the system when running `make config` so that `docker pull` will work.

We are currently having to manually edit the downloaded PhotonOS OVA to add it. This isn't very nice!

[2017-10-05 15:28] orf commented on #370
Same here, this is very confusing.

[2017-10-06 18:37] jhedman2 opened #460 "vsphere - make deploy fails on vSphere 6 (vcenter) deployment"
Wondering if anyone can help, tried multiple times, including starting from scratch, but the deployment process fails every time with the same error:

[container]:/opt/kubernetes-anywhere> make deploy
util/config_to_json /opt/kubernetes-anywhere/.config > /opt/kubernetes-anywhere/.config.json
make do WHAT=deploy-cluster
make[1]: Entering directory '/opt/kubernetes-anywhere'
( cd "phase1/vsphere";

[2017-10-08 22:14] divyenpatel commented on #460
@jhedman2 Can you share `/opt/kubernetes-anywhere/.config` file

[2017-10-09 03:55] jhedman2 commented on #460
Thank you for the response!  Here's the output of the file, please note
obviously I edited the password, just for safety sake.

-------------------------

# Automatically generated file; DO NOT EDIT.
# Kubernetes Minimal Turnup Configuration
#

#
# Phase 1: Cluster Resource Provisioning
#
.phase1.num_nodes=4
.phase1.cluster_name="kubernetes"
.phase1.ssh_user=""
.phase1.cloud_provider="vsphere"

#

[2017-10-09 04:22] jhedman2 commented on #460
Alright, so just ran the deploy process again and not sure why, but I'm
getting a different error, but it's progress at least.  I've validated that
the VM with the associated name exists in the appropriate resource pool in
vCenter and I've deployed this directly from the OVA that was downloaded.
The VM has NOT been powered on in anyway.  It's also in the same folder as
the .config file, and is alr

[2017-10-09 15:56] jhedman2 commented on #460
What a learning experience, So I was able to get past that error, turns out that for some reason putting the template VM in a folder fails to deploy, but placing it in the root of the datacenter in vCenter works okay.  Even when using the absolute path to the VM.

However, I am now stuck at the following error.  Does this deployment require the use of vDS in vCenter or is this compatible with stan

[2017-10-09 15:57] jhedman2 commented on #460
Also, is it normal for the script to put the asterisk in front of the Network name?  this is the vSwitch network label in vCenter.

[2017-10-09 16:43] divyenpatel commented on #460
@jhedman2 good to know you figured out the issue regarding locating template OVA file.

Yes deployment is compatible with standard vSwitch.

This is not normal, Can you try out specifying network path, if it is not in the root.
In my case I use 'VM Network' which is directly located under `/datacenter/network`

[code]

may be in your case `K8SVLAN13` is not located directly under `network`. Can yo

[2017-10-09 16:55] jhedman2 commented on #460
Thanks again for the response.  So interestingly enough, the network i was trying to use was in the root of the DC, and trying to give the full path, including /mydc/network/networklabel or /mydc/networklabel didn't work.  However, once I created a "Network Folder" in vCenter and put the network in that folder, the script began to work!  It's deploying the VM's as we speak!  Might be a good note t

[2017-10-09 20:42] divyenpatel commented on #460
@jhedman2 Can you disable IPV6 in the network and try again?

[2017-10-10 02:08] jhedman2 commented on #460
Good lord, that seemed to work, but then died at this point.  I wish there was a better way to test various vSphere components prior to the script kicking off.

Error applying plan:

5 error(s) occurred:

* vsphere_virtual_machine.kubevm4: 1 error(s) occurred:

* vsphere_virtual_machine.kubevm4: A specified parameter was not correct: spec.deviceChange.device.port.switchUuid
* vsphere_virtual_machi

[2017-10-10 02:29] jhedman2 commented on #460
I tried manually adding a nic to each of the vm's created. didn't seem to help.  Oddly enough, running the script again removed them all.  I'm at a loss, if there were a better way to troubleshoot this, and if I knew more about what was happening i'd love to troubleshoot it more myself.

thanks for your help again.  Feel like I'm getting close!

[2017-10-10 21:08] jhedman2 commented on #460
So I did some more digging, and I simply can't find that parameter in any file on my side.  I looked through all of the deployment configuration files after making a build, and couldn't find anything that looked strange.

All of the deploy files I could find that referenced the Switch label didn't look off either.  sort of at a stand still.

[2017-10-11 18:50] #370 closed

[2017-10-12 15:09] RoadRunnr opened #463 "kubelet argument api-servers no longer works with k8s >= 1.8"
kubelet --api-servers was depreciated some time ago and finally removed in 1.8.0

kubernetes-anywhere needs to updated to support k8s >= 1.8.0 to use kubeconfig instead

[2017-10-19 16:09] jhedman2 commented on #460
Sorry to be a nag, any thoughts on this?

[2017-10-20 13:51] wshelley opened #465 "vSphere deploy fails, missing k8s_config.json"
I'm struggling to debug this as I'm totally new to this stack, but it looks like the config files aren't being created during "make deploy"

The file '/etc/kubernetes/k8s_config.json' doesn't seem to be created in phase1 and the resulting docker container fails whilst running jsonnet.

Any help appreciated.

I used the latest docker image available here:
https://hub.docker.com/r/cnastorage/kuberne

[2017-10-23 17:02] cmluciano opened #466 "Openstack provider reuse existing network and router"
Upon filling in the config options for my open stack network, I noted that the scripts created a new network instead of re-using my existing network. It would be great to have a switch to flip off creation of a new neutron router in favor of reusing an existing configuration.

cc @shashidharatd @dims

[2017-10-23 17:03] cmluciano opened #467 "Openstack provider insecure option"
Add the openstack.insecure option so that auth works for clusters using self-signed certificates.

[2017-10-23 17:03] cmluciano commented on #467
/assign

[2017-10-23 17:34] cmluciano commented on #466
cc @jamiehannaford

[2017-10-23 17:45] jamiehannaford commented on #466
So basically a new `network_name` option that, if set, wouldn't trigger a new network create?

[2017-10-23 18:45] cmluciano commented on #466
I think that it is creating a new network regardless of whether it exists or not.

My preference would be the opposite. If "do not create" is unset, reuse the existing switch and assign a public IP from an existing pool.

[2017-10-24 12:29] marcellanz commented on #288
@kcrawley have you ever been able to solve that? ran into the same issue with a single server 5.5 vSphere with a "Standard" License installation. I dug around but could not find a solution for it. it seems a licensing or permission thing, perhaps also that one can't create a folder (ha-on a single host)

I attach a few lines of the hosts log executing "make deploy" or here a longer one https://gis

[2017-10-25 07:22] ccit-spence opened #469 "Can not deploy Kubernetes Cluster on vSphere with admin user password containing char '$'"
Not sure the other information that needs to be provided.  This is the error:

`RUNTIME ERROR: Unrecognised conversion type: $`

[2017-10-25 19:16] cmluciano opened #471 "Calico CNI testing failing on k8s master"
Dashboard: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-cni-calico

[2017-10-25 19:16] cmluciano commented on #471
/assign

[2017-10-26 20:01] vinayvenkat opened #474 "How do I ssh into the master and the nodes after deployment on vsphere"
I have the username and the client-certificate-data and the client-key-data. How do I use these to ssh into the master node and the minion nodes?

Thanks,
- Vinay

[2017-10-26 21:28] vinayvenkat commented on #474
Please ignore. My apologies I thought I scoured the page for the u/p but found it at last.

[2017-10-26 21:28] #474 closed

[2017-10-27 15:47] embano1 commented on #296
Hi,

What's the status on this issue? Had a customer asking for it, although I'd also recommend separate RPs per cluster.

Any concerns with the other way around, e.g. placing Kubelets (worker) into different resource pools, e.g. to strictly separate batch from long-running services deployed in in separate VM groups.

[2017-10-30 04:59] shashidharatd commented on #471
@cmluciano, i suspect this could be due to `POD_NETWORK_CIDR` being empty in case of calico cni plugin, here https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/gce/configure-vm-kubeadm.sh#L76

[2017-10-30 16:01] cmluciano commented on #471
Cool, I suspected the CIDR was the problem. I had to change some of the values in [this PR](https://github.com/kubernetes/kubernetes-anywhere/pull/475) for the setup to work correctly on Openstack.

I don't see the same lines in the Openstack phase1. Should they be added?

[2017-10-31 07:26] ss22ever commented on #466
cc @ss22ever

[2017-10-31 14:02] cmluciano opened #476 "Add prow tests to k8s-anywhere"
We should add the following tests at minimum

- kubeadm normal
- kubeadm flannel
- kubeadm calico

These tests should be run against every PR in k8s-anywhere since they are included in the mainline k8s/k8s matrix.

[2017-10-31 14:02] cmluciano commented on #476
/assign

[2017-10-31 14:03] cmluciano commented on #171
/close

Opened #476 to track this effort with prow

[2017-10-31 14:03] #171 closed

[2017-11-02 19:27] kaziislam opened #477 "make deploy fails for vCenter 6"
I followed this documentation https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/vsphere/README.md and tried several times with administrator and a different account with admin privilege still same result. Any suggestions is appreciated.

[container]:/opt/kubernetes-anywhere> make deploy
util/config_to_json /opt/kubernetes-anywhere/.config > /opt/kubernetes-anywhere/.config.json

[2017-11-02 19:36] kaziislam commented on #477
Here is how the .config file look like

#
# Automatically generated file; DO NOT EDIT.
# Kubernetes Minimal Turnup Configuration
#

#
# Phase 1: Cluster Resource Provisioning
#
.phase1.num_nodes=4
.phase1.cluster_name="kubernetes"
.phase1.ssh_user=""
.phase1.cloud_provider="vsphere"

#
# vSphere configuration
#
.phase1.vSphere.url="10.112.230.11"
.phase1.vSphere.port=443
.phase1.vSphere.username="

[2017-11-03 16:20] kaziislam commented on #477
Made lot of progress. Can someone tell me where I can get the steps if I want to assign a static IPs instead of DHCP and also is there document (with steps with different vCenter config) on how to get this going?

 I am open to help writing/creating this document which would help the community.

Anyways here is what I am on now - please let me know if you have any suggestion.

null_resource.kubern

[2017-11-03 17:23] shashidharatd opened #480 "pod-network-cidr should be configurable by user"
Currently the k8s-anywhere supports multiple CNIs. Each CNI has a different default pod-network-cidr.
If user do not care about it, the defaults are configured as in [here](https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/gce/configure-vm-kubeadm.sh#L73)

All the CNIs which are deployed as addons need to have the capability to take `pod-network-cidr` as a configurable parameter

[2017-11-03 18:00] cmluciano commented on #408
merged with https://github.com/kubernetes/kubernetes-anywhere/pull/432

[2017-11-03 18:00] #408 closed

[2017-11-03 18:02] cmluciano commented on #466
@ss22ever I think we need to add an optional to the openstack.jsonnet that will only run the router tasks if a Kconfig flag is satisfied.

[2017-11-06 15:55] kaziislam commented on #477
nnull_resource.kubernetes-node2 (remote-exec): 22355f22c138: Pulling fs layer

null_resource.kubernetes-node2 (remote-exec): f9e9e696c1e4: Pulling fs layer

null_resource.kubernetes-node2 (remote-exec): 52b72ac051ba: Pulling fs layer

null_resource.kubernetes-node2 (remote-exec): 158914f426fa: Waiting
null_resource.kubernetes-node2 (remote-exec):
null_resource.kubernetes-node2: Creation complete (

[2017-11-06 17:46] divyenpatel commented on #296
User can deploy multiple kubernetes cluster in the same resource pool.
PR: https://github.com/kubernetes/kubernetes-anywhere/pull/437 fixes this issue. User can specify the cluster name, which is prefixed to the node VM names and this allows deploying multiple clusters in the same resource pool.

@BaluDontu Can you please close this issue?

[2017-11-06 19:54] BaluDontu commented on #296
@embano1 : Please use the instructions specified in https://github.com/kubernetes/kubernetes-anywhere/tree/master/phase1/vsphere to deploy multiple kubernetes cluster in same resource-pool. We will close this issue once you have verified it from your end.

[2017-11-07 13:25] kaziislam commented on #477
After putting the following on proxy bypass

gcr.io
cloudfront.net
docker.io

and using following image for docker VM
docker pull cnastorage/kubernetes-anywhere:vmc
docker run -it --rm --env="PS1=[container]:\w> " --net=host cnastorage/kubernetes-anywhere:vmc /bin/bash

I got the cluster working. Closing this issue.

[2017-11-07 13:25] #477 closed

[2017-11-07 17:02] tmjd commented on #471
It sounds like this is not a Calico problem but a setup issue. If any help is needed understanding Calico's setup or requirements please ping me or @ozdanborne.

[2017-11-08 19:45] embano1 commented on #296
Thank you for the detailed reply. Please close. In case I run into trouble, I´ll respond here.

[2017-11-11 05:49] kcrawley commented on #288
@marcellanz nope, i've since moved on to docker ee/swarm.

[2017-11-11 10:52] DekkerEdwin commented on #294
Same here... The OVA states the default password is changeme.

[2017-11-14 13:13] techgeek03 commented on #463
What is the resolution for this problem?

[2017-11-15 00:49] kaziislam commented on #465
Try with "docker pull cnastorage/kubernetes-anywhere:vmc" . This is different than the once you already tried. I had successful implementation with this version of docker image

[2017-11-17 11:36] wshelley commented on #465
sorry that didn't work either.
tried v1, v2 and vmc docker images.

[2017-11-22 09:14] f0o opened #487 "OpenStack fails using default phase2 config - Documentation too sparse"
Hi,

When attempting to deploy this on openstack it just errors with:
`RUNTIME ERROR: Unsupported phase2 provider in config`

if I change it from ignition to kubeadm it does continue but there's absolutely no documentation on what a valid option is or not, I had to dig the code to find this alternative.

Even with kubeadm it fails at a later stage (kubelet doesnt start).

Is there an actual workin

[2017-11-22 23:42] codebauss commented on #487
I have been able to get it working and agree the documentation and code for that matter can use some additional love. Re DNS, can you explain a bit more issue you are having? I am not having any issue with setup with correct configuration details.

[2017-11-23 06:09] f0o commented on #487
What config options are you using and which OS?

So far I've only discovered that I need to specify kubeadm and minimum version of v1.7.0 but even then the kubelet on the master won't start..

I've tried centos and coreos until I saw that it relies on apt-get. Now I'm trying with Ubuntu 17.04

About the DNS, for me it creates a network without any DNS settings so the instances fail to lookup any d

[2017-11-23 13:00] Lion-Wei opened #489 "kubeadm join command may have some mistake"
Now we are using `kubeadm join` with flag `--discovery-token-unsafe-skip-ca-verification` which may be should not follow a `true`.
When I using kubernetes-anywhere build a cluster, all node can't join the cluster with this log:
[code]
And `kubeadm join -h` says:
[code]

This may be a bug, I saw lots kubeadm related CI failed in `valid` step cause can only found one node: [kubeadm-gce-cni-calico](h

[2017-11-24 01:11] #489 closed

[2017-11-24 14:16] codebauss commented on #487
I am using Ubuntu 16.04 with OpenStack Ocata
Here is what 'make config' generates for my .config:
#
# Automatically generated file; DO NOT EDIT.
# Kubernetes Minimal Turnup Configuration
#

#
# Phase 1: Cluster Resource Provisioning
#
.phase1.num_nodes=3
.phase1.cluster_name="k8s"
.phase1.ssh_user="ubuntu"
.phase1.cloud_provider="openstack"

#
# Openstack configuration
#
.phase1.openstack.os_image

[2017-11-24 17:18] f0o commented on #487
Regarding DNS: Terraform creates a valid subnet with empty DNS settings, so the DHCP does not push any DNS Servers to the VMs, thus they cant resolve any names. I need to edit the subnet manually to add the DNS servers before the VMs bootup or else they fail instantly.

Regardless; I've gotten further now using Ubuntu 16.04 instead of 17.04 and I got the master up and running.

However the nodes'

[2017-11-28 01:09] mrhillsman opened #493 "Missing .config throws error"
When running 'make deploy' without having an existing .config causes error:

[code]

Reviewing the Makefile it is designed to run 'make config' should .config not exist:

[code]

But this is not happening.

[2017-11-28 23:56] abrarshivani opened #495 "Fail to deploy k8s cluster 1.8 on vSphere"
Logs:-
[code]

[2017-11-30 18:10] divyenpatel commented on #469
@ccit-spence  You can escape `$` in the password using `$$`.
I faced this issue before and it works with escaping `$` with `$`.

[2017-12-02 07:05] andyanfieldroad opened #496 "Second network for backend storage"
Hi,

I am using kubernetes anywhere for a POC kubernetes environment developing towards a production ready design.

One of the requirements is that the backend storage is provided on a second network for traffic isolation and more guaranteed bandwidth of I/O.  I have looked at the build instructions for the kubernetes anywhere cluster and it seems to allow configuration of only a single network wi

[2017-12-04 12:11] OMSKremer commented on #418
Hi, i have the same problem, can you please explain "host's enclosing folder"?

[2017-12-04 13:46] brettdh commented on #418
Hi @OMSKremer - I mean that my VM host is laid out like this in vcenter:
[code]
So in this instance, `my_folder` is the "host's enclosing folder" - just the folder that the host `my-vsphere-host.example.com` happens to be in. So for `.phase1.vSphere.host`, I was initially setting it to `my-vsphere-host.example.com`, which produced the above error. When I changed it to `my-folder/my-vsphere-host.ex

[2017-12-04 13:56] OMSKremer commented on #418
@brettdh Thanks a lot!

[2017-12-04 16:39] alandsidel opened #497 "vSphere cluster provider has bad default network address"
The default network address for the vSphere client is **172.1.0.0/16**.  This should be **172.16.0.0/16** like the google client.  The former is a real netblock owned by AT&T while the latter is an RFC1918 private netblock.

[2017-12-04 17:51] edqallen commented on #424
Any movement on getting this into master yet?  Having the same problem here with vCenter 6 managing a vSphere 6 cluster with both a vDS and a SDRS storage datastore, though it results in it getting stuck repeating "found 1" instead of "found 0".  With the vma labeled pull from github It starts off looking like this

[code]

Eventually *one* of them finishes and the deploy continues while messages

[2017-12-05 14:11] agrebin opened #499 "Cant Deploy OVF"
We're trying to deploy kubernetes anywhere on our vCenter cluster, but it is faililng .
The current permissions are:
[https://docs.google.com/spreadsheets/d/1nB9joHzcEw5E1t7FuM5rQNZ43Ht5FFQJwlsEKVtTo0c/edit?usp=sharing](url)

But we get an error when trying to deploy it:

Any ideas if there are futher permissions we need?
Is it a known bug?

Thanks!

[2017-12-05 14:24] edqallen commented on #424
An update to my previous post:

This issue, for me at least, appears to be due to choosing too small of a management network size for the cluster.  This is my first time messing with Kubernetes, I am attempting to create a cluster to migrate machines to from our existing Rancher cluster in prep for the release of Rancher 2.0.  I did not realize that Kubernetes requires a /24 **for each node**, so

[2017-12-05 20:08] tmbull commented on #495
The documentation states that 1.6.5 is recommended, so I am not surprised that this does not work, but 1.6.5 was released around 6 months ago now. So, I am also curious as to what the roadmap is for supporting newer releases.

[2017-12-06 20:17] tmbull commented on #495
FWIW, the above error was caused in my case by an invalid version tag (`1.8.2` vs `v1.8.2`).

After setting the version correctly, the deployment seems to work until validation which eventually times out:

[code]

[2017-12-06 20:48] abrarshivani commented on #424
@edqallen Thanks for trying out this stuff will add a help message to config process

[2017-12-07 11:00] serkilov commented on #495
Same for 1.8.4

[code]

[2017-12-08 22:06] VijayEMC commented on #397
Did you find a fix for this @rperez31?

[2017-12-12 15:31] donaldh commented on #313
Setting http_proxy for the docker service is necessary but not sufficient:

In /etc/systemd/system/docker.service.d/https-proxy.conf

[Service]
Environment="HTTPS_PROXY=https://<host>:<port>"

The installation then fails for me when ignition tries to fetch files. It looks to me like ignition fails to make use of the ProxyFromEnvironment functionality that is used in Go's default HTTP transport:

h

[2017-12-12 15:45] edqallen commented on #421
Four months and no answer.. did you ever find an answer to this in your own testing?

[2017-12-12 22:05] tmbull opened #500 "Nodes going into NotReady status on VSphere"
Hello, I am experience nodes going into NotReady status seemingly randomly after a period of time. I have a 5 node cluster on vSphere 6.5, and I logged in this morning to find that 3 of the 5 nodes were NotReady.

Here are the logs:

[code]

The issue seems to be that the docker service is becoming non-responsive. For example, `docker ps` hangs indefinitely. There aren't any recent log messages in

[2017-12-13 15:24] TimMeade commented on #495
any update on this?  Just did v1.8.5 and same thing.   times out on validation....

[2017-12-13 17:04] TimMeade commented on #495
I have tried to deploy v1.8.5, v1.7.11, and v1.6.5 and all have failed similarly.

it appears to be with the connection between kubectl and the cluster.   breaking down what is in the script i ran:

[code]
and recieved
[code]
I verified the ip is the same as what is in the kubeconfig.json file and is the ip for the master node.  I can ping the master node from the setup docker machine.

Any ideas?

[2017-12-13 18:26] D3nn commented on #424
I am also having an issue deploying to my vsphere cluster but the issue seems to be coming from a different source, on startup of the kubelet container, I get the error:

```Dec 13 09:43:27 kubernetes-master docker[826]: Error: unknown flag: --api-servers```

vsphere environment (managed via vcenter)
Server vsphere 6.0.0 (machine image 10)
Client vsphere 6.0.0

Kubernetes version attempted to depl

[2017-12-13 18:52] divyenpatel commented on #424
@D3nn For 1.8 kubernetes releases you can use this new ignition image `cnastorage/k8s-ignition:v1.8-dev-release` This ignition image uses new kubelet flags for 1.8 releases.

[2017-12-13 22:52] D3nn commented on #495
I don't know if it's the same issue, but I got this advice from @divyenpatel on another issue and it helped:

For 1.8 kubernetes releases you can use this new ignition image cnastorage/k8s-ignition:v1.8-dev-release This ignition image uses new kubelet flags for 1.8 releases

Also, you might want to ssh to the master node and run `systemctl status -l kubelet` to see if there are any other issues.

[2017-12-13 23:51] TimMeade commented on #495
Thanks @D3nn ...

Good pick on time.  One server was off by 3 minutes and it's ntp server was blank. Odd, but fixed.  All now synced.

Tried without changing the ignition image.   All the VM's are using tons of CPU, but no changes.  Running the systemctl check and it just times out

So I dropped in the new ignition VM and now they are using much less CPU, but when I run the systemctl check on the

[2017-12-14 00:13] TimMeade commented on #495
Well... dang.

Blew EVERYTHING away.   restarted docker image for kube anywhere.
Redid make config getting everything correct and using docker.io/cnastorage/k8s-ignition:v1.8-dev-release for the ignition image.  Verified time on hosts are in sync.

Created the cluster in under 3 minutes.   Appears everything working with v1.8.5   starting testing.

[2017-12-14 00:47] D3nn commented on #495
Glad to hear it @TimMeade.  Your experience pretty much mirrored mine, though I was able to:
* make destroy
* edited .config using a text editor (with the correct values)
* make clean
* make config .config (and just held down the enter key until all my new defaults were chosen)
* make deploy

Then all was happy and the cluster was up pretty quickly.

[2017-12-16 01:11] #118 closed

[2017-12-16 01:11] #120 closed

[2017-12-19 23:50] tmbull commented on #495
@D3nn Thanks for the tip on the ignition image. I updated my .config accordingly and was able to deploy 1.8.5 successfully.

[2017-12-20 19:24] ipnextgen commented on #495
Hi,

Mind doing a step-by-step to deploy to 1.8? Meanwhile the project gets updated

Thanks!

[2017-12-20 20:49] D3nn commented on #495
@ipnextgen I can't do much better than what's already documented [here](https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/vsphere/README.md), but I can offer some crib notes:
1. Make sure the vSphere ESX hosts' times are in sync (using NTP).  Having out of sync times will make the Kubernetes-Anywhere install fail.
1.  If you don't already know, figure out the names of the datace

[2017-12-21 03:01] tmbull commented on #500
FWIW, I have since upgraded my cluster to 1.8.5 and this issue seems to have disappeared. I'll go ahead and close it for now.

[2017-12-21 03:01] #500 closed

[2017-12-22 10:48] svasseur opened #502 "provision volume failed with kubernetes v1.9.0"
when i add a volume with vsphere-volume, always an error  "AttachVolume.Attach failed for volume "xxxx" : 404 Not Found"
it's work like a charm in v1.6.5

 i try to create a vmdk volume
`vmkfstools -c 10G /vmfs/volumes/Datastore-12/volumes/kubeVolume.vmdk`
and after
[code]

kubectl describe pod :

[code]

I also try with stateful  storage
[code]
[code]

kubectl describe  pvc
[code]

[2017-12-23 03:14] Coolfeather2 opened #504 "Kubelet Service Failed [v1.9.0] [vSphere]"
Installing Kubernetes v1.9.0 on vSphere
[code]

[2017-12-23 03:54] Coolfeather2 commented on #504
Tried v1.8.6 with same issue

[2017-12-23 06:19] roberthbailey commented on #368
@vielmetti - is this something you have worked on? As we discussed during a recent cluster lifecycle meeting we hope to deprecate kubernetes-anywhere and move it to the kubernetes graveyard once we are able to port e2e tests for kubeadm over to run on top of the cluster api. And I know you've been looking at making a packet machine controller for the cluster api, which hopefully supersedes this wo

[2017-12-23 13:19] luxas commented on #368
IIUC, no more serious work was ever conducted in this area, but the possibility to do this was investigated.
Good news on the Packet Machine controller though!
I'll close this as we'll move from kube-anywhere anyway

[2017-12-23 13:19] #368 closed

[2017-12-26 02:49] Coolfeather2 opened #505 "RUNTIME ERROR: Unrecognised conversion type: r"
[code]

[2017-12-26 02:58] Coolfeather2 commented on #505
% was not escaped

[2017-12-26 02:58] #505 closed

[2017-12-26 03:26] Coolfeather2 opened #506 "Error asking for user input: plugin exited before we could connect"
[code]

[2017-12-26 13:36] vielmetti commented on #368
Thanks @roberthbailey @luxas we will be pursuing the Packet machine controller for the cluster API.

[2017-12-26 18:37] divyenpatel commented on #499
@agrebin I can not open the shared google doc link. Can you list permissions for the vCenter user here on the issue.

Minimal set of privileges required to deploy Kubernetes cluster on vSphere using Kubernetes-anywhere is documented at https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/vsphere/README.md#prerequisites

[2017-12-26 18:42] divyenpatel commented on #497
@alandsidel good to know 172.1.0.0/16 is owned by AT&T

Until the change is made, you can overwrite this default flannel network address during deployment.
[code]

[2017-12-26 18:52] divyenpatel commented on #496
@andyanfieldroad kubernetes-anywhere is using standard photon image with some custom scripts added to bootstrap cluster configuration.

You have mentioned that you want to add second network for `backend storage`.  Just wanted to understand this requirement. Is the datastore mounted on the host and is accessible in the vCenter? If yes then I think no additional configuration is required.

For vSph

[2017-12-26 18:59] agrebin commented on #499
The file was protected, sorry i just uploaded it here, we of course followed the pre requisites on the document.

[POC permissions - Sheet1.pdf](https://github.com/kubernetes/kubernetes-anywhere/files/1587758/POC.permissions.-.Sheet1.pdf)
Thanks!

[2017-12-26 18:59] divyenpatel commented on #504
@Coolfeather2 Can you try out this new ignition image for 1.8 and 1.9 release to unblock you.

[code]

[2017-12-26 19:10] divyenpatel commented on #499
@agrebin  Permissions looks fine to me. While deploying OVA template, instead of selecting cluster, Can you select specific ESXi host within cluster and try again.

Can you also provide vCenter version and the client details (C# depreciated client or web client)?

[2017-12-26 19:19] divyenpatel commented on #502
@svasseur
Can you share vSphere conf file? Is vCenter server configured on default 443 port?
Are you able to ping vCenter server from the kubernetes master node?

[2017-12-26 19:23] agrebin commented on #499
Divy, thanks a lot for your help. We tried selecting the specific host, but also failed.
We tried both the web client, and local exe file, client 5.5

Finally i had my vSphere admin deploy  the ova , but now i am havin another issue it complains that it cannot create the folder. This is obviously my fault, but not sure on the format, i have permissions on the POC folder, not sure how to indicate s

[2017-12-26 19:28] svasseur commented on #502
yes i can ping my vsphere server from the master node
but my vcenter port is 9443
here is my config
[code]

[2017-12-26 19:30] divyenpatel commented on #506
@Coolfeather2 this looks like Terraform issue.

Can you please try out this image new image and let me know?
[code]

[2017-12-26 19:49] divyenpatel commented on #499
@agrebin I see `POC-folder` Role has `Folder-> Create folder` permissions. Is this permission assigned to your username `adrian.grebin`? I see no issue with permission.

Depending on the value of the `phase1.vSphere.vmfolderpath`, Kubernetes anywhere create a folder if not present.

[code]

For above value it should try to create a folder `EZ21->kubernetes`

If you want to deploy cluster in POC fo

[2017-12-26 19:51] divyenpatel commented on #499
Details about roles and permission is documented at https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html#step-4-create-roles-add-privileges-to-roles-and-assign-them-to-the-vsphere-cloud-provider-user-and-vsphere-entities

you should pass this to your vCenter amdin.

[2017-12-26 19:57] agrebin commented on #499
Thanks once again, yes adrian.grebin user, do have the permission to create folder, as you were able to see, i was able to create the folder "Folder" under "POC" Folder.
But when i try to deploy ( i used "POC" As value for phase1.vSphere.vmfolderpath) i get
ls_locally_signed_cert.kubernetes-node: Refreshing state... (ID: 86995908752893317080718935475815861521)
vsphere_folder.cluster_folder: Creati

[2017-12-26 20:04] divyenpatel commented on #499
Can you ask admin to assign `ReadOnly` Role on `adrian.grebin` user for Entities: Datacenter and Datastore Cluster or Datastore Storage Folder with `Propagate to Children` set to `true`.

[2017-12-26 20:05] agrebin commented on #499
I will sure!

[2017-12-27 00:26] andyanfieldroad commented on #496
Hi,

Backend storage network is used for NFS and iSCSI.  I don't use the Vsphere
Cloud Provider.

Thanks

Andrew Bergman

On 27 Dec. 2017 5:52 am, "divyenpatel" <notifications@github.com> wrote:

[2017-12-27 00:51] Coolfeather2 commented on #506
That solved this issue 👍

[2017-12-27 00:51] #506 closed

[2017-12-27 01:50] Coolfeather2 commented on #504
Now shows up as this:
[code]
I got kubernetes working through juju and currently using that

[2017-12-27 01:59] Coolfeather2 commented on #504
nvm, re-ran deploy and it worked

[2017-12-27 02:29] divyenpatel commented on #460
@jhedman2
Could be an issue with Terraform. You can try out this new image.

[code]

[2017-12-27 02:46] divyenpatel commented on #502
@svasseur I see some problem in the deployment yaml with statically created volume using vmkfstools.

Can you use following volume path ?
[code]

404 is different issue we still need to debug.

In the above config `.phase1.vSphere.cluster` is missing. I guess you have specified some valid cluster here.

Also check out /etc/kubernetes/vsphere.conf file and make sure all vCenter specific parameters

[2017-12-27 08:27] svasseur commented on #502
sorry to not put all parameter it's because it's working in v1.6.5
here the complete
[code]
and i see the volume create with vmkfstools ( wrong copy/paste )

/etc/kubernetes/vsphere.conf
[code]

and the problem happen also with the stateful storage ( same yaml in 1.6.5 work)

[2017-12-27 16:33] wshelley commented on #465
I've found the kubespray project works well.

[2017-12-27 16:33] #465 closed

[2017-12-29 16:27] tmbull opened #507 "Connection refused messages after several days"
I have encountered this issue a few times now after running a cluster for several days. All `kubectl` commands time out. For example:

[code]

Here's the journalctl output on master:

[code]

It seems to be stuck in this loop, but I don't know why or how to recover from it. I'm still pretty new to kubernetes. Any help is appreciated.

[2017-12-30 12:45] g1001p commented on #403
Looks like you are confusing me with somebody else i am not using
kubernetes-anywhere

On Wed, Jun 7, 2017 at 6:58 PM, divyenpatel <notifications@github.com>
wrote:

[2017-12-31 08:05] #403 closed

[2018-01-01 20:38] divyenpatel commented on #507
@tmbull looks like API server is down. You can try restarting kubelet to bring up the API server.

[code]

[2018-01-02 22:53] TimMeade commented on #495
I just wanted to append to this.  This still works using v1.9.0 for the K8s version.....

[2018-01-02 23:00] tmbull commented on #507
@divyenpatel, Thanks for the response. You are correct that `systemctl restart kubelet` will bring the API server back up. I guess I should have been a little more clear in my original report. My question is, how do I figure out why this is happening? Restarting kubelet when it randomly stops responding isn't a viable solution for production, so I'm trying to find the source of the problem.

[2018-01-03 02:24] divyenpatel commented on #507
@tmbull you need to take a look at API server logs. For production grade deployment and support Can you please email to support alias specified at https://vmware.github.io/hatchway/#support

[2018-01-03 02:39] divyenpatel commented on #419
/close

[2018-01-03 02:39] #419 closed

[2018-01-03 20:52] tarunamati opened #508 "Tried to deploy Kubernetes on vSphere but errors out on "insecure""
This is what id got

![image](https://user-images.githubusercontent.com/7960096/34539052-0a595ade-f09d-11e7-99fb-e2fb303bb2ad.png)

This is my vCenter configuration

![image](https://user-images.githubusercontent.com/7960096/34539254-ca6c4228-f09d-11e7-811a-86a64cf5653c.png)

Please advise, I know this is very little information but I am not sure what else I need to give. I just got introduced to

[2018-01-04 16:06] shashidharatd commented on #366
Azure has already been removed.
/close

[2018-01-04 16:06] #366 closed

[2018-01-05 17:30] roberthbailey commented on #431
@jessicaochen - this was implemented in #450 right? Can we mark as fixed?

[2018-01-05 18:00] jessicaochen commented on #431
Only master upgrade is implemented at this point since it was the motivating upgrade need for E2E tests. I suppose I can close this and if some folks feel a need/want node upgrades, they can re-open and take over.

[2018-01-05 18:00] #431 closed

[2018-01-05 20:29] marrik96 commented on #495
Thanks for the info @TimMeade.  I have k8s cluster v1.6.5 running on vSphere 6.0 fine but was interested in trying out a newer version.  I also wish there was a simple way to upgrade the cluster.  I guess at this time it's just as easy to destroy and create from scratch.

[2018-01-09 22:28] benjaminknox opened #510 "Cannot start kubernetes master"
Trying to run the `make deploy` and I have this issue:
[code]
I tried the image suggested in https://github.com/kubernetes/kubernetes-anywhere/issues/424 but it didn't work.

I ssh'd into the master and ran `journalctl -u kubelet`, it gave me this output:
[code]

Really need some help! Let me know if you need more information.

[2018-01-10 18:12] cchengleo commented on #510
Same here since yesterday.

[2018-01-11 14:43] benjaminknox commented on #510
Still wanting to use this :) going to keep trying

[2018-01-15 08:34] panggou opened #511 "vsphere5.5 - make deploy failed"
I am getting the following error from "make deploy".
null_resource.node3 (remote-exec): Job for flannelc.service failed because a timeout was exceeded. See "systemctl status flannelc.service" and "journalctl -xe" for details.
null_resource.node3 (remote-exec): Failed to start flannelc
null_resource.node3: Creation complete (ID: 7952397853066288264)
null_resource.node2 (remote-exec): Job for flanne

[2018-01-15 10:20] errordeveloper commented on #139
/close

[2018-01-15 10:20] #139 closed

[2018-01-15 10:20] errordeveloper commented on #138
/close

[2018-01-15 10:20] #138 closed

[2018-01-15 10:20] errordeveloper commented on #126
/close

[2018-01-15 10:20] #126 closed

[2018-01-15 10:21] errordeveloper commented on #133
/close

[2018-01-15 10:21] #133 closed

[2018-01-15 10:21] errordeveloper commented on #149
/close

[2018-01-15 10:21] #149 closed

[2018-01-15 10:21] errordeveloper commented on #150
/close

[2018-01-15 10:21] #150 closed

[2018-01-15 10:21] errordeveloper commented on #137
/close

[2018-01-15 10:21] #137 closed

[2018-01-15 10:21] errordeveloper commented on #168
/close

[2018-01-15 10:21] #168 closed

[2018-01-15 10:22] errordeveloper commented on #111
/close

[2018-01-15 10:22] #111 closed

[2018-01-15 10:22] errordeveloper commented on #113
/close

[2018-01-15 10:22] #113 closed

[2018-01-15 10:22] errordeveloper commented on #121
/close

[2018-01-15 10:22] #121 closed

[2018-01-15 10:23] errordeveloper commented on #116
/close

[2018-01-15 10:23] #116 closed

[2018-01-15 10:23] errordeveloper commented on #95
/close

[2018-01-15 10:23] #95 closed

[2018-01-15 10:23] errordeveloper commented on #101
/close

[2018-01-15 10:23] #101 closed

[2018-01-15 10:23] errordeveloper commented on #71
/close

[2018-01-15 10:23] #71 closed

[2018-01-15 10:23] errordeveloper commented on #109
/close

[2018-01-15 10:23] #109 closed

[2018-01-15 10:25] errordeveloper commented on #89
/close

[2018-01-15 10:25] #89 closed

[2018-01-15 10:25] errordeveloper commented on #40
/close

[2018-01-15 10:25] #40 closed

[2018-01-15 10:25] errordeveloper commented on #38
/close

[2018-01-15 10:25] #38 closed

[2018-01-15 10:26] errordeveloper commented on #72
/close

[2018-01-15 10:26] #72 closed

[2018-01-15 10:30] errordeveloper commented on #66
/close

[2018-01-15 10:30] #66 closed

[2018-01-15 10:30] errordeveloper commented on #55
/close

[2018-01-15 10:30] #55 closed

[2018-01-15 10:31] errordeveloper commented on #41
/close

[2018-01-15 10:31] #41 closed

[2018-01-15 10:31] errordeveloper commented on #37
/close

[2018-01-15 10:31] #37 closed

[2018-01-15 10:31] errordeveloper commented on #17
/close

[2018-01-15 10:31] #17 closed

[2018-01-15 10:31] errordeveloper commented on #23
/close

[2018-01-15 10:31] #23 closed

[2018-01-15 10:31] errordeveloper commented on #6
/close

[2018-01-15 10:31] #6 closed

[2018-01-15 10:31] errordeveloper commented on #16
/close

[2018-01-15 10:31] #16 closed

[2018-01-15 10:31] errordeveloper commented on #9
/close

[2018-01-15 10:31] #9 closed

[2018-01-15 10:32] errordeveloper commented on #136
/close

[2018-01-15 10:32] #136 closed

[2018-01-15 10:32] errordeveloper commented on #128
/close

[2018-01-15 10:32] #128 closed

[2018-01-15 10:32] errordeveloper commented on #239
/close

[2018-01-15 10:33] #239 closed

[2018-01-15 10:33] errordeveloper commented on #160
/close

[2018-01-15 10:33] #160 closed

[2018-01-15 10:33] errordeveloper commented on #119
/close

[2018-01-15 10:33] #119 closed

[2018-01-15 10:33] errordeveloper commented on #182
/close

[2018-01-15 10:33] #182 closed

[2018-01-15 10:33] errordeveloper commented on #166
/close

[2018-01-15 10:33] #166 closed

[2018-01-15 10:35] errordeveloper commented on #183
/close

[2018-01-15 10:35] #183 closed

[2018-01-15 10:36] errordeveloper commented on #179
/close

[2018-01-15 10:36] #179 closed

[2018-01-15 10:36] errordeveloper commented on #170
/close

[2018-01-15 10:36] #170 closed

[2018-01-15 10:36] errordeveloper commented on #165
/close

[2018-01-15 10:36] #165 closed

[2018-01-15 10:36] errordeveloper commented on #162
/close

[2018-01-15 10:36] #162 closed

[2018-01-15 10:38] errordeveloper commented on #184
/close

[2018-01-15 10:38] #184 closed

[2018-01-15 10:38] errordeveloper commented on #188
/close

[2018-01-15 10:38] #188 closed

[2018-01-15 10:38] errordeveloper commented on #192
/close

[2018-01-15 10:38] #192 closed

[2018-01-15 10:38] errordeveloper commented on #198
/close

[2018-01-15 10:38] #198 closed

[2018-01-15 10:38] errordeveloper commented on #199
/close

[2018-01-15 10:38] #199 closed

[2018-01-15 10:38] errordeveloper commented on #200
/close

[2018-01-15 10:38] #200 closed

[2018-01-15 10:39] errordeveloper commented on #229
/close

[2018-01-15 10:39] #229 closed

[2018-01-15 10:39] errordeveloper commented on #242
/close

[2018-01-15 10:39] #242 closed

[2018-01-15 10:39] errordeveloper commented on #245
/close

[2018-01-15 10:39] #245 closed

[2018-01-15 10:39] errordeveloper commented on #251
/close

[2018-01-15 10:39] #251 closed

[2018-01-15 10:40] errordeveloper commented on #254
/close

[2018-01-15 10:40] #254 closed

[2018-01-15 10:40] errordeveloper commented on #255
/close

[2018-01-15 10:40] #255 closed

[2018-01-15 10:40] errordeveloper commented on #256
/close

[2018-01-15 10:40] #256 closed

[2018-01-15 10:40] errordeveloper commented on #262
/close

[2018-01-15 10:40] #262 closed

[2018-01-15 10:40] errordeveloper commented on #264
/close

[2018-01-15 10:40] #264 closed

[2018-01-15 10:40] errordeveloper commented on #269
/close

[2018-01-15 10:40] #269 closed

[2018-01-15 10:41] errordeveloper commented on #272
/close

[2018-01-15 10:41] #272 closed

[2018-01-15 10:41] errordeveloper commented on #281
/close

[2018-01-15 10:41] #281 closed

[2018-01-15 10:41] errordeveloper commented on #285
/close

[2018-01-15 10:41] #285 closed

[2018-01-15 10:41] errordeveloper commented on #289
/close

[2018-01-15 10:41] #289 closed

[2018-01-15 10:41] errordeveloper commented on #291
/close

[2018-01-15 10:41] #291 closed

[2018-01-15 10:42] errordeveloper commented on #295
/close

[2018-01-15 10:42] #295 closed

[2018-01-15 10:50] errordeveloper commented on #299
/close

[2018-01-15 10:50] #299 closed

[2018-01-15 10:50] errordeveloper commented on #301
/close

[2018-01-15 10:50] #301 closed

[2018-01-15 10:50] errordeveloper commented on #309
/close

[2018-01-15 10:50] #309 closed

[2018-01-15 10:52] errordeveloper commented on #322
/close

[2018-01-15 10:52] #322 closed

[2018-01-15 10:52] errordeveloper commented on #327
/close

[2018-01-15 10:52] #327 closed

[2018-01-15 10:52] errordeveloper commented on #332
/close

[2018-01-15 10:52] errordeveloper commented on #367
/close

[2018-01-15 10:52] #367 closed

[2018-01-15 10:53] errordeveloper commented on #376
/close

[2018-01-15 10:53] #376 closed

[2018-01-15 10:53] errordeveloper commented on #378
/close

[2018-01-15 10:53] #378 closed

[2018-01-15 10:53] errordeveloper commented on #379
/close

[2018-01-15 10:53] #379 closed

[2018-01-15 10:55] errordeveloper commented on #387
/close

[2018-01-15 10:55] #387 closed

[2018-01-15 10:55] errordeveloper commented on #400
/close

[2018-01-15 10:55] #400 closed

[2018-01-15 10:56] errordeveloper commented on #410
/close

[2018-01-15 10:56] #410 closed

[2018-01-15 11:18] errordeveloper commented on #59
/close

[2018-01-15 11:18] #59 closed

[2018-01-15 11:18] errordeveloper commented on #82
/close

[2018-01-15 11:18] #82 closed

[2018-01-15 11:19] errordeveloper commented on #127
/close

[2018-01-15 11:19] #127 closed

[2018-01-15 11:19] errordeveloper commented on #132
/close

[2018-01-15 11:19] #132 closed

[2018-01-15 11:19] errordeveloper commented on #141
/close

[2018-01-15 11:19] #141 closed

[2018-01-15 11:20] errordeveloper commented on #151
/close

[2018-01-15 11:20] #151 closed

[2018-01-15 11:20] errordeveloper commented on #154
/close

[2018-01-15 11:20] #154 closed

[2018-01-15 11:20] errordeveloper commented on #144
/close

[2018-01-15 11:20] #144 closed

[2018-01-15 11:20] errordeveloper commented on #140
/close

[2018-01-15 11:20] #140 closed

[2018-01-15 11:23] errordeveloper commented on #316
/close

[2018-01-15 11:23] #316 closed

[2018-01-15 13:20] panggou commented on #511
Fixed: I used a /24 network for .config.  changed to a private /16 network and everything works!

[2018-01-15 13:20] #511 closed

[2018-01-15 13:26] panggou opened #512 "Issue with "cnastorage/kubernetes-anywhere:lastest" on vsphere 5.5"
REPOSITORY                       TAG                 IMAGE ID            CREATED             SIZE
cnastorage/kubernetes-anywhere   latest              f6197e2e3666        4 months ago        713 MB
cnastorage/kubernetes-anywhere   vmc                 e42e2191e6a7        5 months ago        710.9 MB

cnastorage/kubernetes-anywhere:vmc --> works!

cnastorage/kubernetes-anywhere:latest --> doesnt wor

[2018-01-15 20:41] divyenpatel commented on #508
@tarunamati can you make sure in the .config file you have following flag set.
[code]

[2018-01-15 20:51] divyenpatel commented on #510
@benjaminknox @cchengleo error shows

[code]

Looks like you are deploying Kubernetes 1.8 or above.
You have to use this new ignition image.

[code]

[2018-01-17 15:26] maximematheron commented on #502
Hi everybody,

I have a similar issue with v1.9.0 and it works perfectly well with v1.6.5.
I am creating a storage call with the following yaml file:

[code]

Then i try to create a PVC using this storage class:

[code]

At the start the error was the following:
`Failed to provision volume with StorageClass "medhub-sc-default": NotAuthenticated`

I decided to restart all the nodes and then the err

[2018-01-17 15:54] divyenpatel commented on #502
@maximematheron we are working on the fix. You can track this issue - https://github.com/vmware/kubernetes/issues/436

Temporarily if you want to unblock your self from trying out 1.9.0, you can move datastore pcc-006537 to the root storage folder (/).

Regarding this issue we have the fix merged in to 1.9 branch - https://github.com/kubernetes/kubernetes/pull/58124
1.9.2 release should be out wit

[2018-01-17 16:29] benjaminknox commented on #510
Ok, I'll keep that in mind, thank you!

[2018-01-17 16:55] maximematheron commented on #502
Thanks for the response.

I just specified the Datastore without the folder name and it worked. Basically, my SC yaml is the following:

[code]

It is really weird that with the v1.6.5 I had to specify the folder.

What is really weird also is that for both versions, I need to restart all the nodes at least one time to make it successful (to create PVC). Do you know why it is happening?

Maxime

[2018-01-17 17:39] vdavy commented on #495
Got it worked with :
* kubernetes 1.9.1
* this param : `.phase2.installer_container="docker.io/cnastorage/k8s-ignition:v1.8-dev-release"`

Enjoy :smile:

[2018-01-17 17:46] divyenpatel commented on #502
@maximematheron thank you for sharing workaround. I was thinking other way, but your suggestion to change yaml looks good. I have also tried this out end to end (with provisioning pod using PVC) for shared datastore located in the datastore cluster with just fixing storage class. Everything worked fine.

This is happening because in 1.9 we are checking datastore name, which user has specified in t

[2018-01-18 08:42] maximematheron commented on #502
Thanks @divyenpatel !

So you think I should use the 1.9.2 version with your docker image `docker.io/divyen/etcd3-ignition:latest`?

Maxime

[2018-01-18 18:52] divyenpatel commented on #502
@maximematheron
I would suggest to try with hyperkube image built from release-1.9 branch.
If the issue persist then you should create a new issue at https://github.com/vmware/kubernetes/issues

Here is the official community support (slack and email alias) - https://vmware.github.io/hatchway/#support

[2018-01-22 19:27] cmluciano commented on #467
/remove-lifecycle stale

[2018-01-23 13:10] Lion-Wei opened #513 "CI jobs that build by kubernetes-anywhere failed"
kubernetes-anywhere have some problem in build cluster in gce environment, result in some CI job failed:

[kubeadm-gce-ipvs](http://k8s-testgrid.appspot.com/sig-network-gce#kubeadm-gce-ipvs)
[kubeadm-gce-cni-calico](http://k8s-testgrid.appspot.com/sig-network-gce#kubeadm-gce-cni-calico)
[kubeadm-gce-cni-flannel](http://k8s-testgrid.appspot.com/sig-network-gce#kubeadm-gce-cni-flannel)

I tested bui

[2018-01-23 13:11] Lion-Wei commented on #513
@shashidharatd @pipejakob

[2018-01-24 13:35] bbratchiv commented on #495
@vdavy , thanks, that worked, but master node has the Status: Ready,SchedulingDisabled
Any idea how make is scheduled? It's not about taints, this was done during deployment

[2018-01-24 13:54] vdavy commented on #495
Sorry @bbratchiv - absolutly not idea

[2018-01-24 14:35] divyenpatel commented on #495
@bbratchiv you need to uncordon master node. See below.

[code]

You can enable scheduling permanently on the master node by setting `--register-schedulable=true` in `/etc/systemd/system/kubelet.service`. Currently this flag is set to `false`.

[2018-01-24 14:36] bbratchiv commented on #495
@divyenpatel , wow! Thank you!

[2018-01-25 03:22] panggou commented on #512
@divyenpatel
I am using "divyen/kubernetes-anywhere:11302017", reach the last stage but the validation is stucked permanently...

/usr/local/bin/kubectl_v1.8.4         100%[=======================================================================>]  49.91M  23.0MB/s    in 2.2s

2018-01-25 03:19:06 (23.0 MB/s) - '/usr/local/bin/kubectl_v1.8.4' saved [52334123/52334123]

make[1]: Leaving directory '/o

[2018-01-25 05:59] panggou commented on #512
"make config" ended with the following:
Validation: Expected 4 (workers + master) nodes; found 0. (1200s elapsed)
Timeout exceeded.
Makefile:65: recipe for target 'validate-cluster-up' failed
make: *** [validate-cluster-up] Error 1

[2018-01-25 06:05] divyenpatel commented on #512
@panggou Can you login to the master node and  execute `docker ps`. Do you see API-Server is up?

[2018-01-25 06:29] panggou commented on #512
![image](https://user-images.githubusercontent.com/35447525/35374011-0e317826-01dc-11e8-9747-826155c366fc.png)

nothing under "docker ps" on master node.

[2018-01-25 06:30] panggou commented on #512
from the master node I can:
1. ping all other nodes
2. ping the internet

[2018-01-25 07:15] panggou commented on #512
Ok I  recreate the cluster same results but from master node "docker ps" looks different this time.

root@XXX-master [ ~ ]# docker ps
CONTAINER ID        IMAGE                                             COMMAND                  CREATED             STATUS              PORTS               NAMES
6d6ad5b7786d        gcr.io/google-containers/hyperkube-amd64:v1.8.4   "/hyperkube kubelet -"   5 minutes

[2018-01-26 00:15] csbogdan opened #515 "Can not make deploy"
Trying to run `make deploy` and getting this:

[code]

My make config:

[code]

Please provide some help. Thanks!

[2018-01-27 22:38] navi86 commented on #515
I got the same error, how to fix this issue ?

[2018-01-28 11:44] navi86 commented on #515
Perhaps the issue was due new version of jsonnet.
with version v0.9.4 everything works fine
but with version v0.9.5 it doesn't work
In new version converting integer to string is not happen automatically
if replace everywhere in "vSphere.jsonnet"
expression "vm-1" to "std.toString(vm-1)"
"make deploy" starts working again

[2018-01-31 13:53] keir86 opened #517 "Containers log limit on VSphere"
I have installed k8s 1..8.6 on VSphere through the kubernetes-anywhere. And seems like this installation doesn`t have neither logrotate nor docker-opts max-size. Containers log files grows till the nodefs eviction of node. Special - api logs. I had a file like 50G after a few days. I tried to change docker options in /etc/default/docker, but it had no effect. This valus is overwritten on reboot.

[2018-02-01 05:45] panggou commented on #512
Any comments on this one?

[2018-02-12 10:14] serkilov opened #518 "IP addressing in vSphere"
1) Is there a way to avoid cluster to be broken after IP is changed? This sometimes happens since IPs are dynamic. What should be done to fix it?

2) Is there a way to use static IPs in configuration so that cluster will use them in a process of deploying?

[2018-02-13 17:13] stuart-stanley opened #519 "Can't find any indication of how vSphere OVA is created"
The various instructions/readme/blog-posts all point to the magic photon vSphere OVA, but I can't find any reference to where/how it is built.

I wish I could just take the magic OVA and add/modify everything during terraform, but I have some stupid environmental things that are stupid(tm) ;).

Clues please? Happy to walk through scribbled notes and turn into a step-by-step for the repo!

Thanks.

[2018-02-15 00:12] joerawr commented on #495
Thanks for everyone's help on this.  I just ran this successfully with v1.8.8.  (I previously had v1.6.5 up but was running into some issues, so decided to trash the whole thing and start again).

Some possibly helpful notes:
`docker pull divyen/kubernetes-anywhere:11302017`
`docker run -it -v /tmp:/tmp --rm --env="PS1=[container]:\w> " --net=host divyen/kubernetes-anywhere:11302017 /bin/bash`

@D

[2018-02-18 11:44] #315 closed

[2018-02-19 07:04] #317 closed

[2018-02-19 12:16] Boran opened #520 "kubectl version"
Question: What kubectl client version should be used?

Bringing up a Kubernetes cluster on vsphere worked fine.
Now I'm wondering what version of kubectl to use for management. The config mentions 1.6., but that is old. When deploying example containers (https://kubernetes.io/docs/tasks/run-application) via kubectl 1.6.5 from , I get

or

Depending on where apiVersion: apps/v1 or apps/v1beta2 is i

[2018-02-19 21:42] WuTangDangie commented on #495
I was unable to deploy a version newer than v1.6.5, but this issue board answered a lot of my questions.  Thanks for that.

My remaining question is, what do I do with old cluster versions?   If I have workloads running on older versions, how do I update the cluster?  And if the answer is, "Don't update, create new.", then how do I move from the old to the new?

I'm just beginning to dive into thi

[2018-02-20 17:53] #513 closed

[2018-02-21 16:12] phimic commented on #312
Any updates about this issue? I never could build the kubernetes cluster with kubernetes-anywhere, my error is

[code]
VMware vSphere 6U3 with latest VCSA build (7462485)

[2018-02-22 09:05] Boran commented on #520
So, Solution found, and a few notes:

With "kubectl version --short" one can see the client and server side versions. Newer versions are not necessarily backwards compatible.

With v1.6.5, use "apiVersion: extensions/v1beta" in yaml configurations.

[2018-02-22 09:05] #520 closed

[2018-02-27 17:35] mcdave2k1 opened #521 "deployment kubernetes on master fails ,"
Deployment on vSphere running without problems..

tls_locally_signed_cert.kubernetes-master: Creation complete (ID: 170559125117412117697738662694444858326)
data.template_file.configure_master: Refreshing state...
data.template_file.configure_node: Refreshing state...
null_resource.kubernetes-node2: Creating...
null_resource.kubernetes-master: Creating...
null_resource.kubernetes-node2: Provisioni

[2018-03-02 01:00] andyanfieldroad opened #522 "Connection refused after host crash"
I have a kubernetes-anywhere cluster that was running from a local-disk datastore that dropped off the host causing the host and all VMs to freeze.  I power cycled and when it came back up my kubernetes was dead.  I have run an fsck and corrected issues but it seems the etcd database is corrupt as shown in the logs below:

{"log":"2018-03-01 16:27:33.234738 I | etcdmain: etcd Version: 2.2.1\n","st

[2018-03-02 01:17] #413 closed

[2018-03-02 01:17] #414 closed

[2018-03-02 02:47] andyanfieldroad commented on #522
I'm told I need to upgrade etcd but none of the doco for upgrading kubernetes works on kubernetes-anywhere!

I really wish that kubernetes-anywhere was more aligned to the kubernetes that is documented on the internet - it seems to be completely different, files in completely different places or files not existing that prevent running things like kubeadm upgrade plan

Sooner I get off kubernetes-a

[2018-03-02 02:51] andyanfieldroad commented on #522
kubeadm isn't even installed on this

[2018-03-02 19:51] tickers commented on #495
Just wanted to say thanks!! Using the added info from here I was able to get to 1.9.3 with VMWare 6.5. Volumes are working!!
Here's my config
To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.
[container]:/opt/kubernetes-anywhere> cat .config
#
# Automatically generated file; DO NOT EDIT.
# Kubernetes Minimal Turnup Configuration
#

#
# Phase 1: Cluster Resource Provi

[2018-03-02 21:44] WuTangDangie commented on #512
Try this for the ignition image:

docker.io/cnastorage/k8s-ignition:v1.8-dev-release-with-kubelet-fix

[2018-03-05 06:32] panggou commented on #512
docker.io/cnastorage/k8s-ignition:v1.8-dev-release-with-kubelet-fix works, I managed to deploy v1.9.3.

But I need something v1.7+
May I know what is the ignition to use for v1.7+?

[2018-03-05 08:35] panggou opened #524 "KubernetesAnywhereTemplatePhotonOSESX5.5 root password"
I am trying to increase the size of the template VM.
https://storage.googleapis.com/kubernetes-anywhere-for-vsphere-cna-storage/KubernetesAnywhereTemplatePhotonOSESX5.5.ova

However the root password "changeme" or "kubenetes" does not work.

Can anyone let me know what is the root password for KubernetesAnywhereTemplatePhotonOSESX5.5.ova?

Thanks in advance.

[2018-03-05 08:51] panggou commented on #524
root=kubernetes

[2018-03-05 08:51] #524 closed

[2018-03-05 14:37] divyenpatel commented on #512
@panggou

For 1.7 use this ignition image - `docker.io/divyen/k8s-ignition:nightly`

For 1.8 another one with etcd3 is - `docker.io/cnastorage/etcd3-ignition:latest`

[2018-03-05 16:44] tickers commented on #495
One thin I have found and I am trying to find the root cause is this.
I can run through testing, working on my CKA, so Kubernetes gets hammered pretty good with ZERO issues. But after letting it sit over night do nothing I get this when I go to the web GUI
443/api/v1/nodes: dial tcp 10.0.0.1:443: getsockopt: connection refused when I select nodes pods or what ever. The GUI is up just it's contents

[2018-03-05 16:54] tickers commented on #507
That seems to be exactly what I was hitting here as well.  Running vmware 6.5 kubernetes 1.9.3

[2018-03-06 19:35] tickers opened #525 "socat install"
Trying to install Helm and the main error according to Helm is that socat is not installed and so far I have not found a tdnf that would work and the source install requires a compiler, installed GCC, still fails to build so I am stuck and would appreciate any insight.

If I find a way I will post my steps.

Running Kubernetes 1.9.3 on VMWare 6.5.

[2018-03-06 20:38] SailingYYC commented on #512
Good afternoon @divyenpatel,

We've tried nearly every combination conceivable. Can you confirm that `divyen/kubernetes-anywhere:11302017` using `docker.io/cnastorage/etcd3-ignition:k8smaster` as the ignition image will be able to stand up a Kubernetes v1.9.3 cluster on vSphere 6.5 with the [KubernetesAnywhereTemplatePhotonOS.ova](https://storage.googleapis.com/kubernetes-anywhere-for-vsphere-cna-

[2018-03-06 21:45] WuTangDangie commented on #512
@SailingYYC

I was having the same problem.  Take a look at issue #495 (ticker's comment towards the bottom).  Basically what worked for me was everything as written in the original kubernetes-anywhere on vSphere document, but with this ignition image:

docker.io/cnastorage/k8s-ignition:v1.8-dev-release-with-kubelet-fix

[2018-03-07 04:28] divyenpatel commented on #512
@SailingYYC

Yes that should work. I use `cnastorage/kubernetes-anywhere:latest` for deploying 1.9 cluster.

Thanks @WuTangDangie for pointing to https://github.com/kubernetes/kubernetes-anywhere/issues/495#issuecomment-370033863

[2018-03-07 15:42] SailingYYC commented on #512
@divyenpatel and @WuTangDangie thank you for the info.

I was able to stand up the cluster with:
- `cnastorage/kubernetes-anywhere:latest`
- `docker.io/cnastorage/k8s-ignition:v1.8-dev-release-with-kubelet-fix`
**Note:** I have yet to validate the storage-provisioner.

I can also confirm that `docker.io/cnastorage/etcd3-ignition:k8smaster` failed to stand up a cluster using `cnastorage/kubernetes-

[2018-03-08 15:35] SailingYYC commented on #512
As a side note, I had hoped to use `docker.io/cnastorage/k8s-ignition:v1.8-dev-release-with-kubelet-fix` with a newer version of Kubernetes-Anywhere, both the divyen and kubernetes-anywhere master branch, and can confirm both fail.

Also using the `.config`, ignition image, and `cnastorage/kubernetes-anywhere:latest` I was successful with the first time failed to varying degrees on 5 successive at

[2018-03-08 20:01] nikhilgeo opened #526 "null_resource.kubernetes-master: 1 error(s) occurred:"
I was trying to deploy the kubernetes on VC 6.5, I'm stuck with the error:
[code]
Below is the deployment log. It would be very helpful if anyone can point out the work-around.

[code]

[2018-03-08 23:55] rperez31 commented on #397
closing this issue.

[2018-03-08 23:55] #397 closed

[2018-03-08 23:56] rperez31 commented on #397
@VijayEMC we ended up using Tectonic CoreOS service

[2018-03-09 07:07] #417 closed

[2018-03-10 01:25] #426 closed

[2018-03-10 19:43] #443 closed

[2018-03-11 13:00] #433 closed

[2018-03-11 17:04] #448 closed

[2018-03-11 21:08] #453 closed

[2018-03-12 06:17] #458 closed

[2018-03-12 10:21] #454 closed

[2018-03-12 11:22] #459 closed

[2018-03-19 15:22] #466 closed

[2018-03-23 14:09] leblancd opened #527 "IPVS FeatureGate config causing Kube IPVS CI failures"
The Kubernetes ci-kubernetes-e2e-kubeadm-gce-ipvs CI tests are failing (see [gubernator results](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-ipvs) in the kubernetes-anywhere Phase 2.

Looking at serial logs on the master node (e.g. [sample serial log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-ipvs/502/ar

[2018-03-23 16:46] #312 closed

[2018-03-28 14:55] WuTangDangie commented on #495
Any luck figuring out your connection issue @tickers ?  I'm seeing the same thing in my environment: Fine when frequently accessed, but unreachable after inactivity (usually overnight).

Thanks.

[2018-03-28 15:21] tickers commented on #495
WuTangDangie - Nope still trying to find the cause.

[2018-03-29 09:46] #527 closed

[2018-03-30 16:31] #476 closed

[2018-04-03 22:53] tickers commented on #495
Moved onto v1.10.0
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:44:10Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

# Phase 2: Node Bootstrapping
#
.phase2.kubernetes_version="v1.10.0"
.phase2.provider="ignition"
.phase2.installer_container="docker.io/

[2018-04-04 23:03] tickers commented on #495
v1.10.0 has been running steady for almost two days with mysql, wordpress and 4 persistent storage running. Also upgraded the dashboard to 1.8.3 though I stayed with the plain http vs the https install.  So far it's hanging tough so next I will toss in HELM and run a few installs that way and push it more towards the edge and see if any falls off.  Each node has 8vcpu and 4096 of mem fyi.

[2018-04-04 23:05] tickers commented on #512
there's some updated info [#495](https://github.com/kubernetes/kubernetes-anywhere/issues/495#issuecomment-378424671)

[2018-04-04 23:16] tickers opened #529 "Local Repo for required files"
not so much an issue but a request or howto.
I want to be able to have a local repo of the the installs required to build out the cluster to speed my testing up.

I do snapshot the nodes when I first stand them up and do roll back on them to fix issues however the ability to keep the files local would be great.

[2018-04-07 18:56] marrik96 commented on #495
That's great to hear tickers.  I will be upgrading soon.

[2018-04-08 08:56] #480 closed

[2018-04-08 10:09] tickers commented on #495
seems was hit with the error
error_outline Internal Server Error (500)
Get https://10.0.0.1:443/api/v1/replicationcontrollers: dial tcp 10.0.0.1:443: getsockopt: connection refused
Resolved by rebooting the entire cluster via vmware. I also removed a Helm app I had deployed
that was stuck.  Getting helm working was a chore on Photon 1, had to instal a new socat and openssl for a libssl.so.1.1 miss

[2018-04-08 17:04] #471 closed

[2018-04-08 20:07] #359 closed

[2018-04-09 03:02] andrewsav-datacom commented on #296
@BaluDontu that's just bizarre. The instructions you linked link back here and say "Only a single kubernetes cluster can exist in a resource pool". Is this some kind of a joke?

[2018-04-09 15:33] tickers opened #531 "Enable HA"
Has Anyone enabled HA with Kubernetes-Anywhere?

[2018-04-09 17:16] tickers commented on #518
I deploy the cluster then set the Nodes to use Static IP's. I also have a range of DHCP address that I use only for kubernetes.

[2018-04-10 07:42] #288 closed

[2018-04-10 12:47] #294 closed

[2018-04-13 14:28] #463 closed

[2018-04-13 18:58] tickers opened #532 "Patching minor releases"
Looking for examples on patching minor releases of kubernetes.

[2018-04-17 14:15] jiopaley opened #533 "Unable to deploy kubernetes anywhere using vsphere behind a firewall"
When deploying kubernetes anywhere using the vsphere provider behind a firewall (ie no access to the internet, but with local docker repositories), the deployment attempts to retrieve containers from storage.googleapis.com:

null_resource.kubernetes-master (remote-exec): DEBUG    : files: createFilesystemsFiles: createFiles: GET error: Get https://storage.googleapis.com/kubernetes-release/release/

[2018-04-23 16:18] serkilov commented on #518
But does the cluster still work correctly if you change IP?

[2018-04-23 16:35] tickers commented on #518
serkilov - I use the same address that are given via DHCP.

[2018-04-23 18:28] #487 closed

[2018-04-26 03:37] #460 closed

[2018-04-27 02:47] #493 closed

[2018-04-29 19:51] #469 closed

[2018-05-02 08:22] allenyang0812 opened #536 "the OVA's disk storage is not enough for worker node in vsphere"
I run my application in the kubernetes ckuster, serverl days later, it will appear a problem on worker node.
this is log
" error mkdir /run/docker/libcontainerd/523faacac605d229e897469fbcb99b1c016dc3aa1a8c5d1ec9e7dad70c3a4432/rootfs/.pivot_root748860524: no space left on device"

The worker node disk storage is not enough. can you update the OVA  to increase the disk storage?

[2018-05-03 12:52] eliasp opened #537 "Usage of non-public gcr.io/google-containers breaks default vsphere deployment"
As gcr.io/google-containers is not publicly accessible, it breaks non-GCE setups such as vsphere:
[code]

The problem becomes obvious when trying to pull the image manually:
[code]
Is there any public mirror of `google-containers` available which could be used instead as default for kubernetes-anywhere?

[2018-05-03 13:16] eliasp commented on #537
Should be fixed by the changes in #530 to prevent the issue with Docker not understanding namespaces containing a `-` as in `google-containers`.

[2018-05-03 13:16] #537 closed

[2018-05-07 08:18] VarunUmesh opened #538 "Deploy K8s cluster, with static IP address on vSphere"
Is there anyway I could deploy the K8s cluster with static IP address? If so, could you please give me an example?

Thank you

-v

[2018-05-11 17:31] #421 closed

[2018-05-12 19:57] #424 closed

[2018-05-19 00:12] benjaminknox commented on #510
Thanks, I moved forward with kubeadm

[2018-05-19 00:12] #510 closed

[2018-05-24 14:34] jessfraz opened #539 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 22:05] #499 closed

[2018-05-26 02:09] #496 closed

[2018-05-26 03:10] #504 closed

[2018-05-30 06:19] calston commented on #502
/remove-lifecycle rotten

[2018-05-30 13:19] DHill-LMK commented on #533
I made a whole bunch of changes to get this to work in my environment: https://github.com/DHill-LMK/kubernetes-anywhere , you may find it useful if you need to do this style of deployment before there is official support.

There is also a rebuilt ignition container that gets referenced as I had trouble getting the HTTP proxy to work from within there.

[2018-06-13 07:51] leberkas opened #541 "RUNTIME ERROR during make deploy"
Hello!

I've answered all questions to deploy to vsphere and then ran make deploy, but i got an error!
i've added "set -x" in phase1/do to get more information.

[code]

[2018-06-14 22:57] #508 closed

[2018-06-21 21:40] #467 closed

[2018-06-22 05:28] leberkas commented on #541
thanks, maldex, this brought me one step further. .....now struggling with proxy :-/

[2018-06-22 05:28] #541 closed

[2018-06-27 13:52] #515 closed

[2018-06-29 06:31] aaron-comyn commented on #495
Tried the scripts and @tickers settings on kubernetes v1.11.0: installation failed stating "docker.io/cnastorage/k8s-ignition:v1.8-dev-release-with-kubelet-fix" is not a valid repository/tag.

Pulling the image works fine from the nodes, so perhaps something with the remote execution is misinterpreting the name... Reverting to kubernetes v1.10.0 avoided the issue :)

[2018-06-30 16:05] #517 closed

[2018-07-03 13:44] vielmetti commented on #368
@hh this is the issue I originally raised re kubernetes-anywhere.

[2018-07-13 19:15] #519 closed

[2018-07-16 09:23] aojea opened #543 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-23 19:26] haooliveira84 opened #547 "Fail to deploy k8s cluster 1.8 on vSphere"
#
# Phase 2: Node Bootstrapping
#
.phase2.kubernetes_version="v1.8.15"
.phase2.docker_registry="gcr.io/google-containers"
.phase2.provider="ignition"
.phase2.proxy_mode="iptables"
.phase2.installer_container="docker.io/cnastorage/etcd3-ignition:latest"

Log docker log on ignite
`root@LNX-DEV-K8S-master [ ~ ]# docker logs a798461cd92b

[2018-07-23 19:43] artursmolarek opened #548 "RBAC and missing default roles"
I successfully deployed k8s cluster using `docker.io/cnastorage/k8s-ignition:v1.8-dev-release` (cluster validation is passing). However it turns out that RBAC default roles (like `cluster-admin`) are missing (according documentation: `API servers create a set of default ClusterRole and ClusterRoleBinding objects`).

[code]

Has anyone else had similar problems?

My config:
[code]

[2018-07-24 05:10] haooliveira84 commented on #548
Just curiosity, what your vsphere version?

[2018-07-24 06:32] artursmolarek commented on #548
- ESXi 6.5
- vCenter 6.7.0

[2018-07-24 18:31] haooliveira84 commented on #547
@rbjorklin Thanks, but I have just tested with `v1.8-dev-release-with-kubelet-fix` image and I don't have success
My vspere is 6.0
`# Phase 1: Cluster Resource Provisioning
#
.phase1.num_nodes=4
.phase1.cluster_name="LNX-K8S"
.phase1.ssh_user=""
.phase1.cloud_provider="vsphere"

#
# vSphere configuration
#
.phase1.vSphere.url="vcenter.vshepre.local"
.phase1.vSphere.port=443
.phase1.vSphere.usernam

[2018-07-25 06:00] beanallergy commented on #525
What works for me is to install it on the PhotonOS template, following the steps from here https://github.com/kubernetes/kubernetes-anywhere/issues/495#issuecomment-378424671

[2018-07-26 04:07] armontero commented on #495
I just wanted to add to this thread and say that I was able to get 1.11.1 installed by using the .phase2.installer_container="docker.io/cnastorage/k8s-ignition:v1.8-dev-release" recommendation I found this thread.

I also just wanted to say how awesome this project is and that I hope the devs continue to support this project going forward.  Being able to stand up any sized cluster in minutes is ju

[2018-07-27 06:59] veliborfrobas commented on #365
Thank you SOOOO much! After update of my hard to make kubernetes cluster it stopped working. I realize that kube-dns is in some trouble but have no idea what to start looking.
Thank you! Thank you! Thank you!
My God, those small things like update can crash a thing... k8s is a looong way to go before any change of getting accepted anywhere except gcloud. Sadly it is. Wonderful, smart thing and to

[2018-07-27 07:51] jpunwin commented on #548
Same problem here

[2018-07-27 19:45] #521 closed

[2018-07-30 05:42] #522 closed

[2018-07-30 16:47] armontero opened #550 "Cluster unavailable after sitting idle over night"
Hello!

I recently just installed a new cluster running 1.11.1 following the suggestions from another issue thread.  Some folks on that thread mentioned they had this problem as well, but I figured it might make sense to start a new thread since this is technically a different issue.

Basically, the cluster behaves fine so long as it is being actively used.  However, when I try to get pods first t

[2018-07-30 18:17] neolit123 commented on #550
seems like the API server is not listening.
what output do you get from:
[code]

[2018-07-30 22:52] armontero commented on #550
I will run this the next time I encounter the problem and post the results.

[2018-07-30 22:55] neolit123 commented on #550
please reopen the issue if needed. thanks.
/close

[2018-07-30 22:55] #550 closed

[2018-07-31 16:15] armontero commented on #550
This morning I tried connecting to the cluster again and it has stopped responding.  The journalctl command you gave returns no output:

`amontero@apollo:~/code$ journalctl -xeu kubelet
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
-- Logs begin at Sat 2018-07-21 18:29:04 PDT, end at Tue 2018-07-31 09:07:52 PDT. --
-- No entries --
amontero@apollo:~/code$
`

What else should I try while I am experiencin

[2018-07-31 16:30] armontero opened #551 "Cluster unavailable after being left alone over night"
Hello!

I'm recreating this issue as it is still occurring.  This morning when I try to get pods, I'm getting the same message:
`amontero@apollo:~/code$ kubectl get pods
The connection to the server 192.168.1.168 was refused - did you specify the right host or port?
amontero@apollo:~/code$`

Journalctl is not giving any helpful information either:
`amontero@apollo:~/code$ journalctl -xeu kubelet
~

[2018-07-31 23:25] armontero commented on #551
Ok - I wasn't running that command in the right place.  Here's the output:

[journalctl-xeu-kubelet.txt](https://github.com/kubernetes/kubernetes-anywhere/files/2247407/journalctl-xeu-kubelet.txt)

[2018-08-01 21:03] jescuderotraining opened #552 "Make Deploy Runtime Error (from previous ticket still not working)"
I get the following error when trying to deploy cluster

[container]:/opt/kubernetes-anywhere> make deploy
util/config_to_json /opt/kubernetes-anywhere/.config > /opt/kubernetes-anywhere/.config.json
make do WHAT=deploy-cluster
make[1]: Entering directory '/opt/kubernetes-anywhere'
( cd "phase1/vsphere"; ./do deploy-cluster )
RUNTIME ERROR: Format required number at 0, got string
        std.jsonn

[2018-08-01 21:06] jescuderotraining opened #553 "Make Deploy Runtime Error"
I get the following error when trying to deploy cluster

[container]:/opt/kubernetes-anywhere> make deploy
util/config_to_json /opt/kubernetes-anywhere/.config > /opt/kubernetes-anywhere/.config.json
make do WHAT=deploy-cluster
make[1]: Entering directory '/opt/kubernetes-anywhere'
( cd "phase1/vsphere"; ./do deploy-cluster )
RUNTIME ERROR: Format required number at 0, got string
        std.jsonn

[2018-08-01 21:29] #552 closed

[2018-08-01 21:29] jescuderotraining commented on #552
Duplicate entered

[2018-08-01 22:39] armontero commented on #551
Ok, after looking at the journalctl output, there are many entries similar to this:

`Jul 31 23:18:01 kubernetes-master docker[373]: I0731 23:18:01.264629     405 round_trippers.go:386] curl -k -v -XGET  -H "Accept: application/vnd.kubernetes.protobuf, */*" -H "User-Agent: hyperkube/v1.11.1 (linux/amd64) kubernetes/b1b2997" 'https://192.168.1.168/api/v1/nodes?fieldSelector=metadata.name%3Dkubernet

[2018-08-01 22:43] armontero commented on #553
Can you post your config?  It looks like it's complaining about expecting a numerical value and getting a string.

/opt/kubernetes-anywhere/.config.json

[2018-08-01 23:25] jescuderotraining commented on #553
This is what my config looks like

[2018-08-02 00:02] armontero commented on #553
Can you post the terminal output when the script stops?  Other areas to look at:

1. datastore:  Your datastore name is a full path - on my installation it was just datastore1.  Just make sure that this is an accurate datastore name and not a folder within the datastore.
2. network: Same thing here, I think my network was VMnetwork.  As long as this is a valid network name within your vsphere envi

[2018-08-02 00:09] jescuderotraining commented on #553
ca_cert_pem:           "" => "7ec23eae74f45fcc88fdd781aa0bf6e2c43d81bb"
  ca_key_algorithm:      "" => "RSA"
  ca_private_key_pem:    "" => "1b72f9fe40a0c3632b5448dcf666a9cba539b4dc"
  cert_pem:              "" => "<computed>"
  cert_request_pem:      "" => "1bacb8a2fac5460f8261757a44e8ad58715dd046"
  early_renewal_hours:   "" => "0"
  validity_end_time:     "" => "<computed>"
  validity_period_ho

[2018-08-02 00:11] jescuderotraining commented on #553
What i did to trouble shoot in the beginning was add the variables 1 at a time until  i got to the network part and thats where it fails.

[2018-08-02 00:17] armontero commented on #553
Yep - your problem is definitely with that network name.  If you go into vSphere, click the networking icon (top of the left navigation menu, there are four icons - hosts, vms, storage, and network)

When you view that tree, do you see the network you are trying to deploy to (Tiburon_dvSwitch/VLAN-235/236-VDI)?  Also, you just need the network name, not the path down to the network you are trying

[2018-08-02 00:25] armontero commented on #553
Is the asterisk in front of the VLAN name intentional?  Can you try simplifying the name of that network just for debugging purposes?  It's pretty easy to 'make destroy' and redo everything if you are able to clear this network name as a problem.

[2018-08-02 00:28] jescuderotraining commented on #553
it puts that * in the output for some odd reason.
 I will need to create a new dvswitch and vlan for dev.  thats productions unfortunatel

[2018-08-02 00:29] jescuderotraining commented on #553
if i use VLAN-235%2f236-VDI then it fails.

[container]:/opt/kubernetes-anywhere> make deploy
util/config_to_json /opt/kubernetes-anywhere/.config > /opt/kubernetes-anywhere/.config.json
make do WHAT=deploy-cluster
make[1]: Entering directory '/opt/kubernetes-anywhere'
( cd "phase1/vsphere"; ./do deploy-cluster )
RUNTIME ERROR: Format required number at 0, got string
        std.jsonnet:(477:21)-(

[2018-08-02 00:31] jescuderotraining commented on #553
in my terraform .tfvars file i have to use My_dvSwitch/VLAN-235%2f236-VDI if not if fails which is why i have paths on most of them

[2018-08-02 00:38] armontero commented on #553
Yeah, you're dealing with a more complex vSphere environment than I am it sounds like.  I've been hit by resource names in the past, so I usually try and keep them simple and avoid characters that could potentially need to be escaped or replaced.  Hopefully all goes well when you get a network built up for testing.

The code works if you can get past this - I've been using this for a while and it'

[2018-08-02 00:51] jescuderotraining commented on #553
got it to work.  i used another dvswitch i had for testing.  I received the following error when i used
dvSwitch_test/dvPortGroup

tls_private_key.kubernetes-master: Creation complete (ID: 4cf9bdd7d30e329f17f2017b471d40cd38c3e381)
Error applying plan:

5 error(s) occurred:

* vsphere_virtual_machine.kubevm5: 1 error(s) occurred:

* vsphere_virtual_machine.kubevm5: cannot traverse type VmwareDistri

[2018-08-02 00:51] #553 closed

[2018-08-02 00:55] armontero commented on #551
I left the cluster alone for a minute and lost connection again.  I got frustrated and rebooted all the vm's again.  It's back and working.

This is a super annoying bug.  I didn't use the kubelet fix ignition image when I built this cluster.  Could that be what is causing this?  I'm getting close to trashing this cluster and building one with the other ignition image.  If anyone has any ideas, I'

[2018-08-02 19:06] #507 closed

[2018-08-02 23:17] neolit123 commented on #551
i'd suggest you try getting some feedback on the vmware related issues in the #sig-vmware channel on the k8s slack. folks might have a better idea about know issues.

in terms of `kubernetes/kubernetes-anywhere` the project is not actively maintained and SIG Cluster Lifecycle has plans to deprecate it, or at least deprecate it's usage in certain areas.

[2018-08-09 09:05] alexometis commented on #495
Another addition - v1.6.5 worked fine for me initially but I needed newer API versions for my application.
I tried 1.9.10 and 1.8.15 but neither worked initially - then I came across this issue.
I then tried 1.9.10 and 1.8.15 with the .phase2.installer_container="docker.io/cnastorage/k8s-ignition:v1.8-dev-release" settiing and both failed.
Finally I tried 1.8.5 as someone mentioned that specific v

[2018-08-09 09:06] alexometis commented on #495
Another addition - v1.6.5 worked fine for me initially but I needed newer API versions for my application.
I tried 1.9.10 and 1.8.15 but neither worked initially - then I came across this issue.
I then tried 1.9.10 and 1.8.15 with the .phase2.installer_container="docker.io/cnastorage/k8s-ignition:v1.8-dev-release" settiing and both failed.
Finally I tried 1.8.5 as someone mentioned that specific v

[2018-08-10 07:17] #543 closed

[2018-08-10 14:39] neolit123 opened #555 "improve the k-a versioning in the test-infra kubeadm runner"
we eventually want to deprecate kubernetes-anywhere in the e2e suite.
but this isn't that easy, so we have to stick to it for a while.

right now we have a fixed k-a (kuberenetes-anywhere) commit in the image for the kubeadm runner.
this imposes the difficulty that we need to PR two changes:
- one that fixes k-a
- one that updates the SHA in `runner`.

https://github.com/neolit123/test-infra/blob/

[2018-08-10 15:47] BenTheElder commented on #555
All we need is some way to note the stable version to use for CI. I'm open to anything...

I think if we do keep the version specified at the test-config we should remove this checkout from the runner and instead specify it with --repo on the kubeadm jobs. This will update when the PR merges instead of after upgrading the images, and it potentially lets us freeze the version for older kubernetes r

[2018-08-10 17:43] neolit123 commented on #555
i see a `--repo` argument already present here:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml

but it points to the main repo.

there is this check:
https://github.com/neolit123/test-infra/blob/8f0bd23ac99e7c8809ccc6aefb42273dc96ca066/images/kubeadm/runner#L24

if we remove it and always checkout a fresh copy of a stable k-a branch w

[2018-08-10 17:46] BenTheElder commented on #555
Yes, you can supply multiple repos, the first one will be $PWD for testing, but the others will be checked out along side it as well, and you can specify a hash for those. We can remove the checkout from the runner and instead specify which release to checkout on each job as an extra repo, which also makes it configurable per-job / per-kubernetes-release

[2018-08-10 18:00] neolit123 commented on #555
if we hardcode the hash or release (is it a [k-a release](https://github.com/kubernetes/kubernetes-anywhere/releases)?) in the job config, wouldn't that mean that if we bump k-a by one patch/fix/commit we still need to update the job config too and possibly make a new k-a release?

is it possible to specify a branch (tip) instead?
and know that this removes the "stable" / release factor from k-a.

[2018-08-10 18:04] BenTheElder commented on #555
We can do that though, and selectively for the tests that actually need it (probably just recent k/k branches)

does k-a have releases?

yep you can just specify a branch without a sha. independently of what way we specify the stable version (sha, branch, ...) we should probably move specifying it to be on the jobs so updates to this are quick (and likely only involve cluster-lifecycle to review &

[2018-08-10 18:36] neolit123 commented on #555
ok, given right now we always use the tip of k-a, all tests are conformant with the tip of k-a.

ideally the tests by default should use the latest (presumably patched branch tip), but if a test complains we can specify an exact commit.

it has one...
the project is quite inactive in terms of maintenance and it appears we only use it for e2e.
it does have some user base, but i'm considering sendin

[2018-08-10 21:29] BenTheElder commented on #555
Hmm I'll defer on how we should manage this repo, but:

move the repo flag up by the other one (but AFTER it!), somewhere before the bare `--`. flags before `--` go to the bootstrapping script, flags after go to the job-specific script (e2e script in this case). We also may need to check how other scripts look for k-a (make sure the paths are right, with this flag it will be at `$PWD/../kubernetes

[2018-08-10 21:41] timothysc commented on #555
@detiber @chuckha - 1st use case for aws implementation of clusterapi.  Need to chat with @countspongebob on this.

[2018-08-10 21:47] neolit123 commented on #555
@BenTheElder ack! thanks for the explanation.
@timothysc do we have a blocker related to this PR?

[2018-08-15 23:27] maldex commented on #512
/remove-lifecycle rotten

[2018-08-16 00:12] maldex commented on #547
i know i had kubernetes-anywhere installing just fine around a year ago and unfortunately didn't document enough, but i'm going nuts here. Been spending hours and i did not get any combination running. Neither with the 'docker-dev' container nor with any other mentioned prebuild kubernetes-anywhere-container. Also none of the combinations of kubernetes_version nor installer_container seems to work

[2018-08-16 01:00] neolit123 commented on #555
can we please get some super-powers for the decision on this?
this is currently blocking **all** kubeadm e2e tests that use kubernetes-anywhere.
not that we cannot fix them, it's just that the process needs this improvement.

summary:
we create a new branch specific for kubeadm e2e tests in the kubernetes-anywhere repo and always use the tip of that branch in the test-infra jobs instead of specifi

[2018-08-18 14:44] lmcarreiro commented on #307
Anyone know if today it`s possible to add VMs from multiple azure subscriptions as new nodes into the same kubernetes cluster?

I think that at the time this issue was created, this [Virtual Networking Peering](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview) didn`t exist yet.

[2018-08-20 14:52] timothysc commented on #555
I'm a +1 to just getting this done, but I have now powers here.

[2018-08-20 15:28] neolit123 commented on #555
@errordeveloper
hi, given @timothysc has given a +1, would that serve as enough confirmation for you and can you create the branch?

[2018-08-20 16:45] errordeveloper commented on #555
@neolit123 I've create the [`kubeadm-e2e` branch](https://github.com/kubernetes/kubernetes-anywhere/tree/kubeadm-e2e) just now, please go ahead and start using it!

[2018-08-20 16:49] errordeveloper opened #556 "indicate the status of this repo"
I believe this project is no longer in active development, yet it still serves certain purpose. We should indicate whatever is the case in the readme and repo description, so that it's clear to a newcomer what this is.

cc @roberthbailey @timothysc

[2018-08-20 16:55] neolit123 commented on #555
@errordeveloper
thanks a lot!

[2018-08-20 19:28] roberthbailey commented on #556
AFAIK the main purpose of this project is to enable end to end testing of kubeadm (since kubeadm itself doesn't provision infrastructure). Other than that, it isn't being actively maintained and once kubeadm has a different solution for e2e tests we plan to archive it.

[2018-08-21 12:46] neolit123 commented on #556
the easiest way would be to change the repo description in the lines of:
[code]

[2018-08-21 21:19] neolit123 commented on #332
/reopen

i'm re-opening this as it's seems not possible to remove the runner hack from the kubeadm image yet:
https://github.com/neolit123/test-infra/blob/master/images/kubeadm/runner#L34-L41

[2018-08-21 21:19] neolit123 commented on #332
/assign

[2018-08-21 21:19] neolit123 commented on #332
/reopen

[2018-08-24 06:31] #525 closed

[2018-08-30 10:50] #536 closed

[2018-09-02 00:57] #529 closed

[2018-09-06 17:48] #531 closed

[2018-09-06 21:04] dcbw opened #561 "kubernetes kubeadm-gce-* tests failing due to missing node configuration"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-cni-flannel/3436

None of the nodes start because:
`Sep  6 15:44:40 e2e-3436-098af-node-f2tq kubelet[5051]: F0906 15:44:40.442940    5051 server.go:190] failed to load Kubelet config file /var/lib/kubelet/config.yaml, error failed to read kubelet config file "/var/lib/kubelet/config.yaml", error: open /v

[2018-09-06 21:26] neolit123 commented on #561
@dcbw
i've been investigating the same failures except in:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-12/3
and the rest of the red k-a tests.

i don't think this is a critical problem:
[code]

this is a bit of misconfiguration between the the test-infra `anywhere` deployment and k-a itself.
the first verification fails bacause `make deploy` was

[2018-09-06 22:55] neolit123 commented on #561
this is unrelated as well:
[code]
a just reported it to sig-storage and a separate issue was filed.

[2018-09-07 20:25] #539 closed, assigned to nobody

[2018-09-11 01:42] neolit123 commented on #561
let's track this in a single location:
https://github.com/kubernetes/kubernetes/issues/68475

/close

[2018-09-11 01:42] #561 closed

[2018-09-11 07:37] mcdave2k1 commented on #548
Same with:
.phase2.kubernetes_version="v1.11.1"
.phase2.provider="ignition"
.phase2.installer_container="docker.io/cnastorage/k8s-ignition:v1.8-dev-release"
.phase2.docker_registry="gcr.io/google-containers"

[2018-09-11 22:25] spiffxp opened #563 "Use tide for PR merging"
This is a [core repository](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories).  As such, it [needs to use the same merge automation as the rest of the project](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-1)

I have a PR open that will address this at an org-wide level: https

[2018-09-11 22:34] neolit123 commented on #563
@spiffxp ACK, responded with LGTM.

[2018-09-17 17:11] #563 closed

[2018-09-19 18:15] thockin commented on #556
Is there any plan for something different?

[2018-09-19 21:12] roberthbailey commented on #556
https://github.com/kubernetes-sigs/cluster-api

[2018-09-20 22:13] fabriziopandini commented on #332
/close
Fixed by #557

[2018-09-20 22:13] #332 closed

[2018-10-03 03:30] martinmike2 opened #570 "Terraform crashes"
Using the recommended kubernetes version on vSphere 6 I get a terraform crash on tls_cert_request.kubernetes-master create

Makefile:70: recipe for target 'do' failed

[2018-10-03 03:51] martinmike2 commented on #570
Some more information:

Error applying plan:

1 error(s) occurred:

* tls_cert_request.kubernetes-master: 1 error(s) occurred:

* tls_cert_request.kubernetes-master: unexpected EOF

Terraform does not automatically rollback in the face of errors.
Instead, your Terraform state file has been partially updated with
any resources that successfully completed. Please address the error
above and apply ag

[2018-10-27 08:16] #502 closed

[2018-10-27 15:23] #533 closed, assigned to nobody

[2018-11-15 02:57] DJcode99 opened #574 "Loop Validation: Expected"
I am able to successfully deploy the Master & Worker Nodes with Terrafrom Script; however, the last step, i get the following:
KUBECONFIG="$(pwd)/phase1/vsphere/clusters/kubernetes/kubeconfig.json" ./util/validate
Validation: Expected 3 (workers + master) nodes; found 0. (10s elapsed)
Validation: Expected 3 (workers + master) nodes; found 0. (20s elapsed)
Validation: Expected 3 (workers + master)

[2018-12-14 13:14] haooliveira84 commented on #547
Solved: use kubespray

[2018-12-14 13:14] #547 closed

[2018-12-18 22:00] neolit123 commented on #556
/lifecycle frozen

[2018-12-19 09:44] luxas commented on #556
Does this describe the current state well enough https://github.com/kubernetes/kubernetes-anywhere/pull/577?

[2018-12-31 01:36] #551 closed

[2019-01-06 11:07] #495 closed

[2019-01-13 01:41] #512 closed

[2019-02-08 10:02] #548 closed

[2019-03-02 05:04] #570 closed

[2019-03-24 14:31] jalbou opened #584 "Issue when defining vsphere cloud provider config"

[2019-03-24 14:32] jalbou commented on #584
Hi I

[2019-03-24 14:32] #584 closed, assigned to nobody

[2019-04-14 04:40] #574 closed

[2019-09-17 04:53] sohel2020 commented on #467
/remove-lifecycle rotten

[2020-03-28 09:04] LinshanYu opened #585 "Broken link：Branch-based links in projects are more likely to fail"
/kind bug
In this project, there are many broken links. The type of these links is a reference to a branch, such as the master branch. When certain files in the branch are changed or deleted, these links will definitely fail. I suggest that follow-up links in this project should be based on the specified commit or tag, not a branch

[2020-04-21 18:41] nikhita commented on #556
Closing the issue since the repo is being archived: https://github.com/kubernetes/org/issues/1812

[2020-04-21 18:41] #556 closed

[2020-04-21 18:41] nikhita commented on #585
Closing the issue since the repo is being archived: kubernetes/org#1812

[2020-04-21 18:41] #585 closed, assigned to nobody